extends layout

block content
  section.page-section-title.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-3.png" style="padding-top:200px")
    .relative.container.align-left(class="page-title-text")
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 关于我们
  section.page-section
    .container.relative
      h2.section-title.mb-50.mb-sm-40
        | 公司介绍
      .row
        .col-md-8.col-md-offset-2
          .align-center.mb-70.mb-xs-40
            | 上海以太户外俱乐部是由一群极限运动爱好者组建，专注于推广极限运动正能量，集航空体育，高端商务，会务会展服务，社交传媒为一体，主要成员由创办于2005年的上海极限体育协会及奔驰上海车友会成员组成，美国高空跳伞协会（USPA）合作机构，本公司致力于探索中国极限运动领域，整合开发极限运动资源，以一流的品质为在籍会员提供服务。主营项目有高空跳伞，登山，滑翔伞，潜水，帆船游艇等。
  section.page-section
    
    .container.bg-dark
      h2.section-title.mb-50.mb-sm-40(style="margin-top:-50px")
          | 会员制度
      .row.multi-columns-row
       
        .col-sm-6.col-md-4.col-md-offset-2
          .pricing-item(style="width:97%;margin-left:1%")
            .pricing-item-inner
              .pricing-wrap
                .pricing-title
                  | A级
                .pricing-num
                  sup ¥
                  | 2400
                p
                  | /人 · 年
                .pricing-num.mt-30
                  sup ¥
                  | 18000
                p
                  | 入会费
        .col-sm-6.col-md-4
          .pricing-item(style="width:97%;margin-left:1%")
            .pricing-item-inner
              .pricing-wrap
                .pricing-title
                  | S级
                .pricing-num
                  sup ¥
                  | 38000
                p
                  | /人 · 年
                .pricing-num.mt-30
                  sup ¥
                  | 78000
                p
                  | 入会费
      .row
        .col-md-8.col-md-offset-2
          .align-center.mb-70.mb-xs-40
            | S级会员采取邀请制，仅可由籍龄超过3年的前S级会员邀请加入，邀请人次每年限制为5位。
  section.page-section
    .container.relative
      h2.section-title.mb-50.mb-sm-40
        | 加入我们
      .row
        .col-sm-4.col-md-4.col-md-offset-2
          .feature
              h5 运营部主管
              p - 负责公司相关产品组合运营，开发潜在市场，提交MRD
              p - 负责系统规划，制定年度工作计划
              p - 定期为公司提出定题企业经营状况分析和前景预测报告
              p - 负责协调市场部和技术部工作，确保经营系统功能发挥
              p - 负责组织对公司相关工作人员的业务培训
        // end 6 col
        .col-sm-4.col-md-4
          .feature
              h5 市场部经理
              p - 开发渠道商市场并维护渠道商市场
              p - 维护渠道商关系，签订合作合同，跟进订单，收款等
              p - 维护大客户关系，完成签单，服务，收款等事项
              p - 配合渠道商开展相应的市场推广工作，进行品牌推广
        .col-sm-12    
          .align-center.mb-70.mb-xs-40.mt-40
            | 联系人：杨先生 18368090607
            | 简历投递邮箱：flyvipyoung@163.com             