extends layout

block content
  nav.main-nav.dark.js-sub-transparent.stick-fixed(style="margin-top:50px")
    .full-wrapper.relative.clearfix
      .inner-nav.desktop-nav
        ul.clearlist.scroll-nav.local-scroll
          li.active
            a(href='#post-1') 跳伞流程
          li
            a(href='#post-2') 跳伞基地
          li
            a(href='#post-3') 教练团队
          li
            a(href='#post-4') 跳伞价格
          li
            a(href='#post-5') 常见问题

  section.small-section.bg-gray-lighter
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 高空跳伞
        .hs-line-4.font-alt.black
          | We share our best ideas in our blog

  .container.relative
    .row
      //- .col-sm-4.col-md-3.sidebar
      //-   .widget.fix-widget
      //-     h5.widget-title.font-alt 内容
      //-     .widget-body
      //-       ul.clearlist.widget-menu
      //-         li
      //-           a(href='#post-1', title='') 跳伞流程
      //-         li
      //-           a(href='#post-2', title='') 跳伞基地
      //-         li
      //-           a(href='#post-3', title='') 教练团队
      //-         li
      //-           a(href='#post-4', title='') 跳伞价格
      //-         li
      //-           a(href='#post-5', title='') 常见问题

      .col-sm-8.col-md-offset-1
        .blog-item.mb-80.mb-xs-40

          .blog-item-body
            section.page-section(id="post-1")
              h2 跳伞流程
              h3 高空跳伞介绍
              p 双人高空跳伞是至今为止最快速、最安全实现高空跳伞愿望的方法！专业教练和你将利用背带系统固定在一起，从4000米高空跃出机舱，感受时速200公里每小时自由落体的刺激，享受开伞后内心的平静，换个角度俯瞰世界。
              p 高空跳伞，只为敢于挑战的你。
              p 玩最嗨的户外，看最酷的世界！
              h3 高度
              p 不同基地高度不同：
              p 浙江千岛湖基地：3300米（约11000英尺）- 30秒自由落体
              p 浙江安吉天子湖基地：3300米（约11000英尺）-30s自由落体
              p 云南普者黑基地：3300米（约11000英尺）- 30秒自由落体
              p 四川自贡基地：3300米（约11000英尺）- 30秒自由落体
              p 天津滨海基地：3300米（约11000英尺）- 30秒自由落体
              p 山东莱芜基地：3300米（约11000英尺）- 30秒自由落体
              p 湖北荆门基地：3300米（约11000英尺）- 30秒自由落体
              p 广东罗定基地：4000米（约13500英尺）-50s自由落体
              p 广东阳江基地：4000米（约13500英尺）- 50秒自由落体
              p
              strong 从登机到安全着陆在降落区，全程大约经过
              strong 30
              strong 分钟，空中你会体验到时长
              strong 8
              strong 分钟的降落伞飞翔。
              p
              h3 跳伞价格
              h4 全国统一价
                | ：￥2880/人
              p 支持淘宝，微店购买
              p 费用包含：跳伞前培训、教练团队服务、跳伞飞机乘坐、跳伞装备使用（伞具，护目镜，跳伞服等）以及含最高保额50~80万的保险
              p  
              h4 高空摄像服务
              p 提供两种摄像服务：手持摄像和第三方摄像。
              p 手持摄像是由固定在你的带跳教练手上的高清运动摄像机进行拍摄；
              p 第三方摄像是由带跳教练以外的专业跳伞摄像师与你一起跳下，摄影师的跳伞头盔上安装有先进的数字录像设备，为你一对一服务。
              p  
              p 高空跳伞影片包括了从地面准备、跳伞前培训、起飞升空、跳出机舱、高空自由下落一直到着陆庆祝的整个过程，且全程配乐
              p  
              h4 所需装备
              p 我们免费提供专业跳伞服和护目镜，你只需穿着舒适保暖的衣服和运动鞋即可。如果平时配戴眼镜，我们会提供适合戴在眼镜外侧的护目镜。
              p  
              h4 条件限制
              p 最大体重限制为105公斤，90公斤以上请与我们联系后再预订。18岁以下跳伞者需取得父母或监护人同意。
              p  
              p
                | 请注意，由于跳伞是一项特别易受天气影响和空军军方管制的运动，请务必给自己预留2到3天的停留时间。我们会持续关注天气预报，如遇天气情况不适合跳伞，会及时与你沟通并进行调整。 其次，如果你已经来到基地，遇到天气等原因不能跳伞，建议就地等待，降低旅行成本。如果遇到天气变化、空管等原因不能体验，会员储值及预定金不退，长期有效。
              p  
              h3 跳伞流程
              p
                | 第一次跳伞的伞友，不知有多少次在网上暗羡别人的跳伞英姿。经过波涛汹涌的内心挣扎，想着只要从14000英尺的高空纵身一跃，跨过自己的心里极限，把人生第一跳留给蓝天见证，剩下的交给教练就行。简单来说，这话没毛病。但是，在基地跳一次伞，你到底会经历什么呢？
              dl.toggle
                dt
                  a(href='') 1. 观看视频
                dd
                  | 跳伞之前，大家一起观看美国跳伞协会使用的告知视频。
                dt
                  a(href='') 2. 签署协议
                dd
                  | 跳伞者在跳伞之前，须签署美国跳伞协会通用的“双人伞跳伞协议”。
                dt
                  a(href='') 3. 学习动作要领
                dd
                  | 在跳伞开始前，专业教练会对您进行20到30分钟的地面培训，包括跳伞的流程、动作要领以及注意事项等。其中动作要领包含出舱动作，空中飞翔动作以及着地动作。
                dt
                  a(href='') 4. 佩戴装备
                dd
                  | 学习完动作要领之后，跳伞基地为您提供保暖舒适的专业连体跳伞服，同时为您佩戴背带系统（美国UPT公司生产的Vector背带系统），教练进行伞具的检查程序后，即可准备出发。
                dt
                  a(href='') 5. 登机
                dd
                  | 准备工作就绪，登机。跳伞俱乐部采用大棕熊100，GA8,PC6等飞机。飞机会迅速爬升至4000米，教练们密切注视高度表。
                dt
                  a(href='') 6. 出舱
                dd
                  | 到达4000米以后，飞行员会配合跳伞教练选择最佳的出舱位置，这时候您唯一要做的事就是跳下去。面对脚下浮动的云层一跃而下，那种快感是前所未有的。
                dt
                  a(href='') 7. 自由落体
                dd
                  | 出舱后，教练会打开一个阻力伞（直径约1.2米），您将以200公里/小时左右的速度自由落体30-40秒。风声在耳边呼啸，在一个全新的角度，以自由落体的姿态，感受我们生活的这个世界。
                dt
                  a(href='') 8. 飞翔
                dd
                  | 整个跳伞活动中教练都会一直密切关注高度表，当距离地面约1500米时，教练打开降落伞。下坠速度减慢，周围的风景变得清晰起来，慢慢下落过程中，阳光和微风打在脸上，看着广阔的世界，体验内心的自由。
                dt
                  a(href='') 9. 着陆
                dd
                  | 着陆后，大家一起返回休息区，跳伞俱乐部将为您颁发跳伞荣誉证书，纪念4000米高空一跃而下的勇气。
                  strong 注：每个基地跳伞高度不同，但都是经过当地相关部门以及教练组确定的安全高度！
            

            section.page-section(id="post-2")
              h2 跳伞基地
              h3 浙江千岛湖基地
              div(id="amap" class="map")

              p 位置：杭州市建德千岛湖寿昌镇302国道
              p 开放时间：全年开放，具体时间请咨询客服
              p 华东地区首个跳伞基地
              p 千岛湖基地位于建德航空小镇，地处于浙江“两江一湖”黄金旅游中线，千岛湖景区旅游项目不仅有水上观光，还有一万一千英尺的高空跳伞
              p 来自全国各地众多跳伞爱好者相聚于此，从鸟视角俯瞰这片被誉为“天下第一秀水”的中国首批5A级景区，以最刺激的方式探索千岛湖的别样湖光山色；
              p 浙江千岛湖基地交通路线
              p 千岛湖基地经济快捷型路线：统一坐高铁到龙游高铁站，打的到龙游客运北站（18元）15分钟，龙游到寿昌的大巴（18元）8:00-15:00只有6趟车，车程约70分，打的到千岛湖基地（12元）15分
              p 注：龙游高铁站直接打的到基地180元（3人行很划算）
              p 主要周边城市至跳伞基地交通方式
              p ➤ 杭州—跳伞基地 160公里
              p 自驾：约2小时；
              p 高铁：杭州东站—龙游站，1小时。
              p  
              p ➤ 上海—跳伞基地 330公里
              p  
              p 自驾：约4小时15分钟；
              p 高铁：上海虹桥站—龙游站，2小时。。
              p  
              p ➤ 【龙游站—跳伞基地】50公里
              p  
              p 打车：约45分钟车程。
              p 大巴：龙游高铁站—龙游客运北站 8公里，打车约14分钟；
              p 龙游客运北站—寿昌镇 38公里，约41分钟车程。（大巴发车时段7:40至15:25）
              p
                span.Apple-converted-space  
                | 飞机
              p  
              p
                | 1、选择航班较多的萧山机场（距离跳伞基地179公里） 
                span.Apple-converted-space  
              p  
              p 自驾：2小时10分的车程。
              p
                span.Apple-converted-space  
                | 大巴：
              p
                | 1、直接乘坐萧山机场大巴“新安江”线，60元，约150分钟车程；出发时间：11:40、15:20、18:10 （咨询电话 +86 571 96299）
                span.Apple-converted-space  
              p 新安江汽车站—寿昌镇 30公里，打车即可到达。
              p  
              p 2、直接乘坐萧山机场大巴“汽车西站线”到达汽车西站，约80分钟车程；
              p 杭州汽车西站—寿昌镇 约150公里，2小时车程。
              p
                span.Apple-converted-space  
                | 杭州萧山机场有直达千岛湖景区的机场大巴，机场出发每位80元，约3小时车程；千岛湖景区—跳伞基地 64公里。
              p  
              p 推荐酒店
              p 欢庭·在云端航空主题酒店（建德店）
              p
                | 位于寿昌镇横山社区秦箭路，周围有新安江-特色水上乐园、中国杭州新安江玉温泉，出游便利。酒店配备会议、休闲茶吧、静吧、特色水床等各类设施用房，整体设计风格凸显航空特色，融入登机台、热气球、太空舱等元素，还有各种好玩的飞行模型，每位住户可以来一次便捷的、自由的现代商务之旅。
              h3 浙江安吉天子湖基地
              div(id="amap2" class="map")

              p 基地位置：天子湖通用机场，位于天子湖景区内。
              p 跳伞飞行高度：3300米（11000英尺）
              p 基地开放时间：3月—12月
              p 基地净空条件好，天目山系的天然围护为安吉提供了每年长达200天的可飞日保障，该机场场地开阔，地势平坦，气象条件稳定，飞行安全性高。
              p 交通攻略:
              p 大巴：
              p 大巴直接到安吉客运中心--打车到基地：导航天子湖通用机场（28公里）
              p 自驾：
              p 位置：天子湖通用机场
              p
                | 杭州—跳伞基地 ：93公里 S14杭长高速 ，过收费站
                span.Apple-converted-space   
                | 1.5小时；96公里 201省道，避开收费站
                span.Apple-converted-space   
                | 2.5小时
              p 上海—跳伞基地：208公里 G50沪渝高速，过收费站 2小时45分钟
              p 苏州—跳伞基地：160公里 G50沪渝高速，过收费站 2小时15分钟
              p 南京—跳伞基地: 232公里 G25长深高速，过收费站 2小时52分钟
              p  
              p 酒店：
              p 天子湖精品酒店
              p
                | 安吉天子湖精品酒店位于高禹路，地处天子湖镇北林场繁华的中心商务区—高禹路的东端。距杭长高速2公里，距通用航空机场3公里，檀香山花海2公里，仙山湖3公里，百草园12公里，公交及旅游线路四通八达。高雅的品味，完美的服务是精品酒店的特色。

              h3 广东阳江基地
              div(id="amap3" class="map")
              p 广东阳江基地交通路线
              p 广州——阳江
              p
                | 飞机飞广州白云机场，地铁到广州南，然后高铁到阳东站！记住是阳东站，下高铁打的到基地阳江合山机场6公里,白云机场也开通了直达阳江的专线大巴，每天往返共12班，约2小时一班，单程行车约4小时，票价为123元。
              p  
              p 自驾：广州市—阳江约230公里，3小时车程。
              p  
              p ➤ 深圳——阳江
              p  
              p 宝安机场—宝安汽车站，距离14公里，打车23分钟；再乘大巴至阳东汽车站，票价150元，约300公里，4小时车程。
              p 深圳火车站（罗湖火车站）—侨社汽车客运站，相距2公里。再乘大巴至阳江汽车站，票价150元，约300公里，4小时车程。
              p 深圳西站（南头火车站）—福田汽车客运站，距离3公里，打车约8分钟。福田汽车客运站—阳江汽车站，车票140元，约300公里，4小时车程。
              p 自驾：深圳市到阳江300公里，4小时车程。
              p  
              p ➤ 珠海——阳江
              p 珠海火车站—香洲长途汽车站，距离8.5公里，打车20分钟。再乘大巴至阳江，约210公里，3小时车程，票价115元。
              p 自驾：珠海市—阳江约240公里，3个半小时车程。
              p  
              p ➤ 湛江——阳江
              p 从湛江火车站可步行至湛江南站，再乘大巴至阳江汽车站，约230公里，3个半小时，票价80元。
              p 湛江机场到湛江南车站约5.2公里，打车约13分钟。再从湛江南站坐大巴到阳江。
              p 自驾：湛江市—阳江约218公里，3小时车程。
              p  
              p ➤ 东莞——阳江
              p 东莞火车站—东莞汽车总站，距离36公里，一小时车程。再乘大巴至阳东汽车站，约300公里，4小时，票价130元。
              p 自驾: 东莞市—阳江约270公里，3个半小时车程。
              p 注：外省的伞友，一般建议先坐飞机到广州白云机场或珠海金湾机场
              p  
              p 酒店推荐：
              p 碧桂园凤凰酒店
              p
                | 桂园凤凰酒店地处景色优美的燕山湖畔，距离闸坡AAAA海滨旅游风景区、阳春等旅游景区仅约30分钟车程，地理位置优越，是您莅临商务度假的理想选择。碧桂园凤凰酒店具有欧式地中海建筑风格，宏伟绚丽的西斯廷拱廊和浓淡相宜的山水园林交映生辉，将欧洲建筑特色与东方自然山水完美糅合。每间客房均配有独立调控式空调、国际直拨电话、液晶电视、宽频互联网接口、私人保险箱等。从设计、装修到服务，酒店秉承“顾客至上”的原则，让您商旅倍感温馨。
              h3 广东罗定基地
              div(id="amap4" class="map")
              p 位置：广东省罗定市罗定机场
              p 开放情况：全年开放
              p 跳伞高度：4000米
              p
                | 作为USPA会员基地，国内跳伞氛围最好的跳伞基地，我们全年开放，项目包括：单人伞培训，单人跳伞，影视广告拍摄，以及团队定制和双人高空跳伞等项目；每天可接待人数可达100人，国内单人伞学员最多的跳伞基地，我们，永远有一颗放肆不安的心！
              p 产品亮点：
              p 国内最高跳伞基地，50S自由落体
              p 全程澳洲资深外教为您保驾护航
              p 全新国际一线装备全面保障
              p 体验肾上腺素飙升的极致体验
              p 专业高清全程记录
              p  
              p 酒店推荐：
              p 罗定国际酒店
              p
                | 罗定国际酒店位于被誉为“中国玉桂之乡”，素有“广东西关”之称的历史名城——罗定市。酒店总占地面积约 18000平方米，建筑群体气势磅礴，是罗定市最著名的标志性建筑之一。
              p
                | 罗定国际酒店以现代欧式建筑为主，装修风格尽显豪华、雅致。各类客房配备了多项智能化、数字化设备；行政楼层设有高雅宽敞的套房，让您俯视“广东西关”之山水美色，繁华都市一览无余。
              p
                | 罗定国际酒店设有豪华中餐厅及50多间具特色餐饮VIP包房，可容纳多达3000人同时用餐。2000平方米的宴会大厅可举办1000人盛大宴席。更有各地中、西美食，令您大饱口福，食指大动。
              div(id="amap5" class="map")
              h3 四川自贡基地
              p 位置：四川省自贡市自贡凤鸣通用机场
              p 开放情况：每年3到11月
              p 跳伞高度：3000米
              p 西南地区首个跳伞基地，位于国内跳伞人群占比最大的地区，自然受到了大家关注
              p 交通：
              p  
              p 自驾：附近城市自驾，平均路程约3小时
              p 大巴：
              p
                | a.成都市区(北门车站、五桂桥车站、新南门车站等)
                span.Apple-converted-space   
                | 汽车站均有大巴到自贡
              p b.周边区县场车站(华阳客运站、龙泉客运站等)也有大巴到自贡
              p c.成都双流国际机场客运站位于机场候机楼右侧200米，每天11：40、12：40、13：40、15:10、17：00发往自贡，参考票价80元，车程约3小时
              p  
              p 酒店：
              p  
              p 自贡全季酒店
              p 酒店位于“四川理工学院”东侧，毗邻沃尔玛、百盛百货、自贡跳水馆，位置优越，交通便利，房价从265-400不等。
              p （距离自贡汽车客运总站约1.5公里；距离自贡火车站约4公里，距离跳伞基地20公里，半小时车程）
              p 自贡汇东大酒店
              p 酒店位于高新区中心地带，地理位置优越，由成自泸高速路、内宜高速路出口直行均可便捷到达，房价从350-1000不等。
              p （距离自贡汽车客运总站约2公里；距离自贡火车站约2.4公里，距离跳伞基地20公里，半小时车程）
              p 檀木林金陵酒店
              p 酒店位于塘坎上路，比邻盐业历史博物馆和自贡市商业一条街“东方广场”，房价从400-3000不等。
              p （距离自贡汽车客运总站约4公里；距离自贡火车站约2.7公里，距离跳伞基地20公里，半小时车程）
              h3 天津滨海基地
              div(id="amap6" class="map")
              p 位置：天津滨海窦庄通用机场
              p 开放时间：具体时间请咨询客服
              p 跳伞高度：3000米
              p
                | 天津滨海基地，坐落于天津滨海新区大港太平镇窦庄子村。窦庄
                span.Apple-converted-space   
                | 子村与河北省黄骅市接壤，被誉为“津门第一村”。
              p  
              p 集多项旅游项目为一体。在这里，你不仅可以跳伞，还有各种各样的丰富有趣的体验项目来满足你的好奇心。
              p  
              p 基地交通路线
              p 自驾前往天津滨海窦庄机场游客接待中心
              p （地图导航：天津滨海窦庄机场）
              p 推荐酒店：基地内有酒店推荐具体咨询工作人员
              h3 山东莱芜基地
              div(id="amap7" class="map")

              p 基地位置：雪野湖景区内，位于莱芜市区北部25公里处，雪野湖三面环山，形成湖光山色的秀美风光。
              p 开放时间：季节性开放
              p 跳伞高度;3000米
              p  
              p 交通情况：从济南到雪野湖仅有1个小时左右车程，交通十分便利。北京坐高铁到济南仅需1个半小时。
              p 酒店推荐：
              h3 云南普者黑基地
              div(id="amap8" class="map")
              p 基地位置：云南省文山市普者黑机场
              p 开放时间：季节性开放
              p 跳伞高度：3500米
              p 西南地区最方便的跳伞基地，也是云南地区目前唯一开放的跳伞基地，交通方便，下飞机便可以直接体验跳伞，来大美云南，看最酷的世界！
              p 交通路线：
              p 一、昆明—基地
              p 昆明长水机场—基地，每天2个飞行航班。
              p 先乘坐昆明—普者黑站的高铁(约1个半小时);再从普者黑高铁站坐大巴到砚山客运站 (75公里，约1个半小时)，最后打车去基地(9.6公里，13分钟车程)。
              p 昆明自驾到基地，310公里，3小时50分钟。
              p 二.成都、重庆、南宁都有直达基地的航班。其他城市的伞友，可先到昆明，再转机至文山；
              p 推荐酒店：（推文有图）
              div(id="amap9" class="map")
              h3 湖北荆门基地
              p 基地位置：湖北省荆门市漳河新区宏图路1号
              p 开放时间：季节性开放
              p 跳伞高度：3000米
              p 飞行家跳伞降落场为国际化标准跳伞赛事降落场，全年常态化为游客开放，配备有专业教练团队进行热身运动，各种项目任你挑选，拥抱蓝天.触摸白云，在这里不再是梦！
              p 交通：高铁到达荆门站，滴滴到达基地（价格约60元）
              p
                | 酒店：基地有房车，可提供住宿，具体咨询相关工作人员
                span.Apple-converted-space  
            section.page-section(id="post-3")
              h2 教练团队
                br
                br
              .container.relative
                .row
                  .col-sm-6
                    .row.masonry
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/1.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') BRIAN
                        .post-prev-info.font-alt
                          a(href='') 加拿大教练
                        .post-prev-text
                          p 2014年 美国蒙特利湾跳伞基地取得AFF教练资格和双人伞教练资格
                          p 2015年 澳大利亚悉尼跳伞基地双人伞教练
                          p 布莱恩是美国跳伞协会会员，至今已有3500多跳，包括3千次双人跳伞，500多次AFF跳伞。布莱恩组建了一个跳伞组织，拥有400多个成员并举办了9个国际跳伞活动。
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/2.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') DAN
                        .post-prev-info.font-alt
                          a(href='') 英国教练
                        .post-prev-text
                          p 2013年 英国完成AFF课程
                          p 2014年 澳大利亚完成AFF和双人伞课程并取得双人伞教练资格。
                          p 丹尼尔在世界很多跳伞基地有过跳伞经验，至今已有2千多次跳伞包括1700次双人跳伞及200多次AFF
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/3.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') JACK
                        .post-prev-info.font-alt
                          a(href='') 澳大利亚教练
                        .post-prev-text
                          p 2014年4月11日在悉尼跳伞基地培训，取得叠伞B执照。
                          p 2015年5月21日 取得澳大利亚跳伞协会AFF教练和双人伞教练资格。在凯恩斯跳伞基地担当双人伞教练和AFF教练。
                          p 杰克是美国跳伞协会和澳大利亚跳伞协会的会员。至今已有近3千跳，包括2千次双人伞和3百多次AFF跳伞及翼装飞行经验。
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/4.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') BEN
                        .post-prev-info.font-alt
                          a(href='') 法国教练
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/5.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') SOOTAEK
                        .post-prev-info.font-alt
                          a(href='') 法国教练
                        .post-prev-text
                          p 于2000年开始特技跳伞运动生涯，现已在澳大利亚悉尼高空跳伞公司工作近9年，并在韩国首尔跳伞学校担任双人跳伞教练，AFF教练以及自由飞行教练。
                          p 总共跳伞12860次（其中9000多次双人跳伞，900多次AFF特技跳伞，300多次 带相机高空跳伞，1300多次自由飞行跳伞以及300多次四向高空跳伞（2017年2月27日）隧道飞行总时间：61+ 小时（2017年2月27日）
                          p 2008年 荣获2008年韩国特种部队四向队形特技跳伞竞赛冠军。
                          p 2008年 于UAE以韩国FS四向跳伞队参加第十二届亚洲跳伞锦标赛。
                          p 2008年至今 于澳大利亚新南威尔士州悉尼高空跳伞公司担任AFF及双人跳伞教练，带相机高空跳伞员以及自由飞行教练。
                          p 2010年 澳大利亚全国冠军；FS十六向队形亚军（Mandulbomb跳伞队）。
                          p 2015年 Ifly Downunder双向自由飞行冠军。
                      .col-md-6.col-lg-6.mb-60.mb-xs-40
                        .post-prev-img
                          img(src='images/trainer/6.jpeg', alt='')
                        .post-prev-title.font-alt
                          a(href='') JACK
                        .post-prev-info.font-alt
                          a(href='') 澳大利亚教练
                        .post-prev-text
                          p 2014年-2016年 在新西兰，澳大利亚跳伞及匈牙利等多国跳伞基地担任地面安全官，叠伞员及第三方拍摄。
                          p 2016年8月 取得美国跳伞协会助教执照
                          p Daisy至今已累计1000多次跳伞，擅长造型跳伞。
            section.page-section(id="post-4")
              h2 跳伞价格
                br
                br
              h3 跳伞
              p 全国统一价2880元每人
              p 费用包含：跳伞前培训、教练团队服务、跳伞飞机乘坐、跳伞装备使用（伞具，护目镜，跳伞服等）以及最高保额50~100万的保险。
              h3 高空摄像
              p 手持摄像 ￥2400
              p 手持摄像是由固定在你的带跳教练手上的高清运动摄像机进行拍摄
              p 第三方摄像（包括手持摄像）￥800
              p 带跳教练以外的专业跳伞摄像师与你一起跳下，摄影师的跳伞头盔上安装有先进的数字录像设备，为你一对一服务
              p 摄像服务包含：
              p 拍摄的原视频，照片，专业编辑配乐后的视频
              p 高空跳伞影片包括了从地面准备、跳伞前培训、起飞升空、跳出机舱、高空自由下落一直到着陆庆祝的整个过程，且全程配乐。
            section.page-section(id="post-5")
              h2 常见问题
                br
                br
              h3 基地天气
              h4 什么天气不可以跳伞？
              p 跳伞主要受下雨天影响比较大，偶尔风速达，云层较低也会有一定的影响。我们会持续关注天气情况，如果遇到天气条件不适合跳伞，会及时与您沟通，进行调整。
              h4 如果天气不适合跳伞会怎样安排？
              p 跳伞是一项特别受天气影响的运动，请务必给自己预留2到3天停留的时间。由于跳伞存在很多不可抗力因素，如天气和空军管制。遇到特殊情况，我们的工作人员会及时与您沟通，进行调整。
              br
              h3 预订，行程
              h4 我需要提前预订吗？
              p 请至少提前一周预约。我们将根据您的具体情况和基地天气要求安排最合适的跳伞时间，同时预订以支付预定金为准。
              h4 整个跳伞活动需要多久的时间？
              p 一切顺利的话，一个上午就能够结束。考虑到天气和空军管制的影响，建议客户最好预留2天时间。
              br
              h3 其他问题
              h4 我需要特别准备什么吗？
              p 没有特别需要准备的物品，穿着舒适休闲、没有太多钮扣的衣服并搭配运动鞋，避免穿有后跟的鞋子或靴子，同时注意防晒，带上好心情来体验就可以了呢。跳伞时，我们为您准备了舒适的跳伞服和护目镜。体验高空跳伞不需要提前过来培训，预定好了过来，跳伞当天有15分钟的基础培训，您就可以和教练一起跃出机舱了。
              h4 是否可以带框架眼镜跳伞？
              p 如果你要是带着眼镜来的，我们一般会有这种大号的风镜套在你的眼镜外边，所以是没问题的。隐形眼镜就可以直接带上风镜，看风景啦！
              h4 你们使用的是哪种型号的飞机呢？安全性如何？
              p 目前我们用于跳伞的飞机为大棕熊100飞机，该飞机因为其可靠的安全性和良好的性能，是目前跳伞运动中使用最多的飞机。其中飞机和飞行员都通过了民航局的适航认定。
              h4 我可以带自己的照相机上飞机吗？
              p 考虑到安全因素，跳伞过程中个人不能携带相机或Go Pro等极限运动相机。您可以在地面进行准备登机前的拍照和着陆时合影留念。如果希望拍摄跳伞过程，我们有专业的高空摄像师为您拍摄照片和视频。你如果有执照，并且是在跳伞次数两百次以上是可以的。原因是因为，在跳伞历史上出现过，GoPro和伞绳绑在一起的情况。所以说这是一种会导致危险发生情况，所以要求学生和双人伞体验都是不能自带GoPro。
              h4 跳伞对身体条件有什么要求？
              p 身体健康，没有心脏病高血压等疾病，其实只要你觉得自己的身体和心理可以，你就可以跳伞。体重上限是115公斤，没有最低体重要求，如果是儿童，身体需要达到可以佩戴儿童背带系统标准。超过95公斤需要额外收费。
              h4 着装上什么要求？
              p 衣服不要带领子，不要穿带帽子的卫衣，另外不要有柳钉或者金属一类的在衣服上。女孩子，不要穿裙子，也不要穿衣服很复杂，有很多穗这种。建议在颜色是越鲜艳越好，比如像荧光色桔红色粉色淡黄色，红色紫色绿色，在天上拍出来的效果都非常非常漂亮。有时候穿的衣服很花哨，也是很有趣的，拍摄的照片也会很漂亮。手表项链首饰全都不要戴，因为在整个自由落体期间，速度可能有100多迈每小时的速度在下降，饰品很有可能会丢失的。
              h4 会伞打不开吗？
              p 现在在整个跳伞界，伞打不开这种情况，基本上已经是不存在了。我们的整套跳伞系统里面，包含一个主伞一个备份伞和一个自动开伞器。万一主伞打不开，还有备份伞，备份伞打不开还有自动开伞器。就是一个小小的一个微型电脑在伞包里，所以伞是一定会打开的，千万别担心。
              h4 跳伞最容易遇到的危险
              p 跳伞最容易遇到的危险其实是着陆，说的文艺一点就是，在一个人从梦想回到现实的时候，总是有点儿不适应。说的科学一点就是着陆的过程中，对正着陆点判断风向，急速刹车减速刹车等等，都是一个需要安全稳健的控制过程。所以在跳伞前教练会给大家详细讲解着陆过程的注意事项。
              h4 自由落体时间有失重感吗？
              p 您说的失重的感受，是不是坐过山车的时候，心脏贴到了后背的那种感觉，或者是坐过模拟太空舱，在太空舱那种感觉？如果是这种感觉的话，其实没有。跳伞的感觉更像是一种游泳，在水中下坠的那种感觉。另外说的比较科学是物体对支持物的压力小于物体所承受的重力，所以跳伞是一种根据自身重力下坠的过程，所以当然就没有那种失重感。

  script(src="https://webapi.amap.com/maps?v=1.4.14&key=219668ef90f201a33be6a18982a16f6e")
  script.
      var map = new AMap.Map('amap', {
        zoom: 15,
        center: [119.215608, 29.36866],
      });
      var marker = new AMap.Marker({
        center: [119.215608, 29.36866],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap2', {
        zoom: 15,
        center: [119.595516, 30.795649],
      });
      var marker = new AMap.Marker({
        center: [119.595516, 30.795649],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap3', {
        zoom: 15,
        center: [112.109196, 21.957522],
      });
      var marker = new AMap.Marker({
        center: [112.109196, 21.957522],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap4', {
        zoom: 15,
        center: [111.608004, 22.709726],
      });
      var marker = new AMap.Marker({
        center: [111.608004, 22.709726],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap5', {
        zoom: 15,
        center: [104.832405, 29.326595],
      });
      var marker = new AMap.Marker({
        center: [104.832405, 29.326595],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap6', {
        zoom: 15,
        center: [117.099665,39.239973],
      });
      var marker = new AMap.Marker({
        center: [117.099665,39.239973],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap7', {
        zoom: 15,
        center: [117.602955,36.434978],
      });
      var marker = new AMap.Marker({
        center: [117.602955,36.434978],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap8', {
        zoom: 15,
        center: [104.153161,24.126167],
      });
      var marker = new AMap.Marker({
        center: [104.153161,24.126167],
      })
      marker.setMap(map)

      var map = new AMap.Map('amap9', {
        zoom: 15,
        center: [112.07382,30.990064],
      });
      var marker = new AMap.Marker({
        center: [112.07382,30.990064],
      })
      marker.setMap(map)