extends layout

block content
  nav.main-nav-sub.small-height.dark.js-sub-transparent.stick-fixed(style="margin-top:55px")
    .full-wrapper.relative.clearfix
      .inner-nav-sub.desktop-nav-sub
        ul.clearlist.scroll-nav.local-scroll
          li.active
            a(href='#post-1') 太平洋
          li
            a(href='#post-2') 永乐群岛
          li
            a(href='#post-3') 斐济无人岛
          li
            a(href='#post-4') 西澳大利亚

  section.page-section-title.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-5.jpeg" style="padding-top:200px")
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 远洋海钓
        h3.hs-line-4.text-white 太平洋 / 永乐群岛 / 斐济无人岛 / 西澳大利亚

  .container.relative
    .row
      .col-sm-8.col-md-offset-1
        .blog-item.mb-80.mb-xs-40
          .blog-item-body
            section.page-section(id="post-1")
              h2 太平洋ROTA
              p Rota，是西太平洋上马里亚纳群岛的南部岛屿，位于塞班和关岛之间，从塞班飞过去半小时左右，被誉为"马里亚纳未经雕琢的宝石"。这里保留着最原始的天然美景及野生形态，是与世隔绝的世外桃源，没有大批的观光客，只有宁静完美的白沙滩、崎峻的火山峭壁和苍郁的热带丛林。。。。。我们的选择永远都是令人惊艳与值得期待的。
              h3 活动详情
              h4 第一天
              p 国内—塞班
              p （到达塞班时间一般为第二天凌晨，建议自行在塞班住宿一晚，以确保有足够的精力去体验丰富的活动内容）
              h4 第二天
              p 中午：塞班—ROTA 
              p 机场接机，讲解岛上安全及注意事项
              p 客栈休整，然后进行浮潜培训，为之后的渔猎活动做准备
              p 黄昏BBQ欢迎会（鹿腿一只、海鱼及当地水果等）
              p 晚上：晚上抓海蟹或者椰子蟹，根据当时潮汐情况随机选择其中一种，捕猎后一起制作宵夜
              h4 第三天
              p 早上浮潜与自由潜训练结束后，将前往rota海底，畅游在上帝的水族箱中，观看鱼暴
              p 下午环岛游：椰林、丛林绿道、二战日本炮台、宋宋日落观景台山顶看日落
              p 晚上夜潜渔猎，活动结束后返回客栈一起制作美味的宵夜
              h4 第四天
              p ROTA岛附近的海域是相当不错的渔场，在早上第一波鱼季之际前往深海进行拖钓、浮潜，捕猎后一起制作午餐，享受亲自捕获食材、亲手加工成美食的过程！
              p 下午浅滩浮潜：在惬意的浮潜过程中，还可以进行刺激的渔猎活动—猎捕章鱼
              p 晚上夜潜渔猎：抓龙虾、叉鱼等，捕猎后一起制作夜宵
              h4 第五天
              p 懒觉后环岛游：白沙滩、天然游泳洞、岛屿尽头、鸟类收容所悬崖边自助餐、后山环岛观光
              p 晚上抓海蟹或者椰子蟹，根据当时潮汐情况随机选择其中一种，捕猎后一起制作宵夜 
              h4 第六天
              p 早上自由安排：可懒觉，可继续拍摄周边美景
              p 中午午餐后送ROTA机场飞塞班，有兴趣的伙伴们可选择在塞班游玩儿，但在塞班所产生的费用由大家AA或者自费，也可选择乘坐当天航班回国。
              p 行程期间还可以狩猎野鹿、水肺潜水、超级水摄大片（提前与俱乐部联系）这属于自费项目，可自由选择。
              h3 关于费用
              p 包含：
              p Rota岛上的客栈住宿及餐饮，24小时热水，客栈WiFi，机场接送机，Rota岛上用车及每天的渔猎活动，浮潜和自由潜培训，导游费和向导费用，一次出海拖钓，捕猎后宵夜及一次查莫洛自助餐。
              p 不包含：
              p 机票及个人消费
              p
                strong 费用：
                strong 9500
                strong 人民币（
                strong 8
                strong 人成团） 
              h3 注意事项 
              p ●Rota对中国人免签30天，入境需要准备资料：
              p 1、护照原件。
              p 2、国内往返塞班机票行程单。
              p 3、塞班入境酒店订单信息（俱乐部可提供）
              p 4、个人旅游保险（俱乐部购买）。
              p 5、每人随身带1000美金现金。
              p 6、飞往塞班飞机上填写的入境单
              p （如果有美签需要以美签入境，网上登录个人信息EVUS）
              p ●长年平均温度28度，早晚26度左右，正午30-33度（防晒霜70+上）及防晒装备。
              p ●岛上可以使用信用卡（VISA及银联）。
              p ●Rota以英语为主要语言。
              p ●当地电压110V，正常两孔插头可以使用，三孔插口需要转换器。
              h3 关于装备（自备）
              p 呼吸管、面镜、潜水袜、脚蹼、潜水手套、潜水手电、水母衣

            section.page-section(id="post-2")
              h2 永乐群岛 
              p 永乐群岛是西沙群岛最美丽的地方，这里的海水晶莹剔透，潜入水中，能带你进入一个平生难得见到的神秘空间。一丛丛、一簇簇的珊瑚像盛开的鲜花覆盖着整个海底：有的金黄、有的雪白、有的鲜红，很是惹人喜爱。与五光十色的鱼儿共舞，此惬意平生能有几回？ 在小岛上观看日落，更能撩起游人的情趣：红彤彤的晚霞铺满半边天，海水鲜红闪亮，归巢鸟儿的鸣叫声和着轻轻拍岸的涛声传入耳中，汇成美丽的风景画，令人不禁浮想联翩、流连忘返……
              h3 1. 航程线路
              p 活动目的地：西沙海域
              h3 2.出航日期：
              p 每月出船（发船时间待定，准备参加的队员，可以提前意向报名，并在报名表备注您准备出行的时间段，我们会给您安排好出行计划，天气信息确认后，即确定准确的出发时间，并及时提前通知大家）
              p 温馨提示：参加活动的队员，一定要等待俱乐部通知准确的出发时间后，再预定机票，以免天气影响行程。
              h3 3.航程：
              p 出发地至西沙群岛共185海里（342公里），航行时间13小时左右
              p 备注：每个行程时间长短不确定，大致为8—14天，要根据大船的时间来确定我们的往返时间；行程目的地相同，停留时间长短不同，费用相同。以下为八天行程安排。
              h3 航程线路安排
              h4 D1
              p 海南海口（具体地点以通知为准），在预先通知的地点集合，检查所带装备后，清点人数，前往码头登船，登船后，大家找好床位。晕船的可吃好晕船药，开手机、Pad、电脑看电影小说什么的入睡。喜欢群体活动的朋友可一起打牌、聊天。
              p 住宿：船舱
              h4 D2—D6
              p 航行13小时左右后，抵达梦中的天堂--西沙群岛，在接下来的几天，我们选择美丽的小岛（永乐群岛核心岛屿，除驻军岛外)游玩，在西沙，我们有丰富多彩的海岛户外活动。大家可以拿着相机，尽情地去探索发现，去记录每一个美丽精彩的瞬间，喜欢钓鱼的，也可以拿着钓具，充分发挥你的海钓天赋，在一半是水，一半是鱼的西沙，相信这就是你的天堂，这里经常可以钓到数十斤的大鱼，鱼种包括石斑、青衣、海狼、红鱼、马鲛、金枪鱼、牛港等，努力哦，我们的晚餐可就靠你啦！当然，西沙的水下世界绝对不可以错过，大家穿戴好浮潜装备，跟随我们的领队，去探索神秘美丽的海底世界吧，自由自在地在珊瑚中和美丽多彩的热带珊瑚鱼一起游来游去，这里绝对不逊色于马尔代夫的啦，潜水技术好的，还可以参加水下狩猎和浮潜钓鱼，这可是我们俱乐部的经典人气项目！记住，一定多拍些美丽的照片，但是千万记住不可以去随意触摸海洋生物和珊瑚哦！我们还可以去探宝，捡些古沉船上的瓷器，虽不完整，但很有纪念意义啦。女童鞋们还可以拍摄一组西沙海底世界的水下婚纱，一定很有纪念意义哦！晚上，我们可以选择帐篷露营、吃起海鲜烧烤、喝着啤酒、看漫天繁星、抓螃蟹、抓八爪鱼，捡月光螺，一起或者过二人浪漫之夜。不露营的也可以选择住在船上，听听音乐，或是站在船头上钓鱼，也会有很不错的收获哦。
              p 住宿：帐篷露营或是船舱过夜（2—6天）
              h4 D7—D8
              p 吃好早餐后，到处活动一下。准备给西沙之旅来些最后的纪念。准备好自己的行李，清理留下的垃圾并销毁，为这美丽之地做一点点贡献。返回大船，在船上吃好午饭，准备返航。第8天返回我们各自温馨的家。
              p 住宿：船舱
              h3 特别提示
              p 此西沙行程为AA制的户外活动，除开船费等费用支出，其他费用均AA制，（比如出发前和返回后在三亚大家聚餐费用、岛上大家一起吃海鲜的费用等），这个行程不属于常规的旅行线路，是活动交流群里喜爱大海，喜爱潜水和海钓的群友共同参与的户外活动，俱乐部领队也是活动参与方，有很多不确定的因素，比如天气，军事及政策因素会影响改变行程，所有这些都需要大家互相理解！共同承担！俱乐部只是提供力所能及的安排、协调工作和后勤支援工作，所以在这里给大家做个特别提示与告知，准备参加的队员一定要明确知晓：
              p 1、本活动非旅行社组团旅游，是属有共同爱好的驴友自发组织共同参与的户外活动，活动性质仅限共同爱好者自愿参加、共同参与、风险自担、责任自负；发起者和其它参加活动人员一样，同样也是自愿参与者，对其他参加者没有绝对的管理和支配权力；对于活动中突发的一切足以影响到大家切身安全和利益的不可抗因素等重大事项也需参加者共同商定采取措施；活动中发起者仅有义务对全队活动进行安排协调，参加者必须服从大多数队员意见而安排的行程，才有参加活动的权利。
              p 2、户外运动不同于常规的旅游活动，采取的线路也不是一般的常规旅游线路，有时气象条件也非常规；活动安排的时间是估算时间，实际活动时间可能出现较大的差异；报名前，请详细阅读活动内容和《南海海钓活动免责协议书》的全部条款，并经过合理判断，同意接受本活动统一安排和《南海海钓活动免责协议书》全部条款，同意自行承担本次活动的所有的风险和后果；也同意自行承担因为行程改变而带来的直接或是间接损失及后果；包括交通工具及其他第三方设施带来的风险；如果由于参与队员的行为导致了第三方的财产损失和人员伤害，则此队员需要承担相应的损失和责任，导致队员本人伤害，则此队员同意免除所有其他人的赔偿和连带责任。
              p 3、本次户外活动对身体和精神方面都有一定考验，可能遇到包括在恶劣天气中进行活动，也可能远离救助和医疗服务地点，短时间内无法得到救援，也有可能遇到包括跌坠、溺水、闪电、失温、咬伤、刺伤、袭击及各种意外伤害，甚至死亡；队员出发前，一定要明确知晓以上隐患，并了解自身身体状况，如果有高血压、心脏病、癫痫等严重影响生命安全的疾病，绝对不可以参加此行程，如果隐瞒病情，所造成的一切后果，均由自身承担所有责任。队员需要清楚的知晓活动发起者无法全面预见该活动中所有的风险和不利，知道以上所列的风险并不完全包含本次活动中的所有可能的风险；当遇到上述等伤害后，所有救援和医疗等全部费用在保险承担范围外的部分，队员需要全部承担，活动的发起者和其它参加者不承担所发生的一切费用和法律连带责任；同时永远免除此次活动的发起者和同行成员的赔偿和法律责任，并适用于所有可能面临的风险中。
              p 4、在活动过程中，遇到队员有突发状况，比如突发疾病或是外在因素的伤害，急需返回救治，则全体队员需要无条件返回！
              p 5、行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可
              p 6、已报名队员，出发前请详细阅读网站（www.sjxx365.com）的户外课堂《南海海钓活动免责协议书》，凡是报名参加者均视为已经阅读、理解，并完全接受该协议条款！
              h3 费用说明
              h4 一、费用收取：
              p 全程费用：12000元/人
              p 报名预交定金：2000元/人（用于准备物资等事宜）
              p 确认报名预缴费用：2000元报名订金（有人数限制，以缴订金先后安排床位，订金在出发前需要确认收货）尾款在出发地点集合时付清（最好支付宝转账）。尾款如需转账到卡，需要提前一天完成，以免当天无法到账，影响行程的正常出发！
              p 注：报名后即缴付订金。出发前请确认收货。因舱位有限，按缴纳订金先后安排舱位，确定名额，如因个人问题导致出发前10天临时取消，则无法退还订金，敬请见谅！
              h5 以下情况可给予退还定金：
              p 1、因气候、军事、政策等人为不可抗拒的因素导致本次行程时间改变或取消，定金无条件退还，但由此产生的其他费用俱乐部不承担任何责任。
              p 2、队员遭受天灾或其他不测，导致无法出行。
              p 3、出发10天前，队员可以无条件退还订金。
              h4 二、费用包含：
              h5 1、包含的交通费用：
              p A、集中地点至码头的乘坐的大巴车费（从集中地点统一出发，不安排单独接送）。
              p B、港口到永乐群岛及返回的大船船费，永乐群岛岛屿间的大船、小船往返船费。
              h5 2、行程中的吃、住：
              p 在西沙群岛，队员可以选择住船上或是露营，建议露营（露营装备自备或是在俱乐部淘宝购买，参加西沙行程的队员，有会员价格，很便宜），会有不一样的户外感受
              p 船上提供的食品：大米、面条、方便面、饼干、青菜、猪肉、鸡肉、矿泉水、水果、调料品、烹饪工具、餐具。
              p 提供的住宿包括：床位、枕头、被子、卫生纸、220V电源。

              h3 出行流程
              h4 一、报名流程：
              p 咨询----填写上传资料--交付定金--签署免责协议--结清尾款--集中出发
              h4 二、需提供的资料：
              p 1、身份证复印件
              p 2、联系信息。手机号码，备用联系方式，昵称（或代称）。
              p 3、报名表备注栏需要注明你的领队名称，专职领队会负责你的行程安排。
              h4 三、报名程序及通知：
              p 1、所有队员按俱乐部暂定活动时间报名，意向报名名额满后，会通知大家在俱乐部淘宝拍下订金，拍订金后就算正式报名，报名资料会集中在出发前20天提交给相关部门。
              p 2、审核过程大约需要10个工作日。
              p 3、在出发前3天通知大家准确的出发日期、时间、集中地点，并通知大家预定机票，在此之前不能预定机票（可以退改签的机票可以考虑预定）
              h3 个人装备及物品
              p A、露营装备 在西沙的无人小岛，有个自己的小窝，是不是也挺温馨的呢
              p B、防晒衣、防晒霜 这可是必备物品哈，防晒霜最好选择SPF50以上的，西沙的阳光可是热情的不得了哦
              p C、潜水鞋、水母衣、潜水手套、水下相机、、浮潜三宝（脚蹼可选） 如果没有这些装备，那你的西沙之旅可是不完美的啦!(潜水靴很重要，可以避免被珊瑚划伤，以前的活动中有过这样的案例哈，那样就只能坐在船头看日出日落啦）装备都可以在我们俱乐部的淘宝店#海岛小屋#购买，参加活动的队员都按超级会员待遇，成本价提供户外装备
              p D、海钓渔具 在西沙，有好的钓具，那你一定会有不错的成绩的（可租赁）
              p E、摄影器材 在西沙有很多很多值得记录的东东哦，用你的眼睛，去探索发现吧.....（可租赁）
              p F、干粮、水果、零食、手机防水袋、充电宝
              p 这些可以让旅途更加快乐享受哦
              p G、个人药物: 感冒药、晕船药、晕船耳贴、眼药水、防腹泻药、抗过敏药、止血贴、蚊虫药等
              h3 安全及保险
              h4 一、安全申明
              p 本次西沙行组织方已为本次活动采取了多种安全措施，但因远程航行，仍需加强安全防范。所有参与队员必须遵守安全规则，服从领队相关安排。如因个人违规，导致安全事故，请自行承担相关责任。
              h4 二、安全规则
              p 1、在上船及换乘小艇过程中，严禁将手放到两船船舷之间，防止挤压造成伤害。
              p 2、乘船过程中，船在行进时会颠簸摇动，请借助固定物体或扶手，保持身体平衡和稳定。切勿将四肢置入移动物的空隙中。
              p 3、潜水及游泳需在其他人员的陪同下，切勿独自下水。其下水区域需要在领队规定的安全区域内。浮潜必须穿好救生衣，及水母衣，并穿高腰潜水靴，以防被珊瑚割伤。
              p 4、在岛上，任何行动至少需要两人以上陪护才可进行，且在行动前告知领队。
              p 5、未征得领队统一，不能单独行动、不可食用未知的鱼类、贝类、植物根茎叶及果实等。不得触摸不熟悉的生物，以防被有毒生物伤害。
              p 6、未取得PADI潜水证，请勿下海深潜。
              h4 三、保险
              p 1、本次参保险种为美亚的高风险户外运动险。保险项目包含：意外身故、残疾，意外伤害医疗，高风险运动，境内紧急救援，意外住院津贴。总保额达到50万元。
              p 2、保险的起止日期为：出发当日0时——第12天或第18天的24时止。
              h4 四、不宜参与人员
              p 1、有高血压、心脏病、脑溢血、冠心病、肺水肿的病状或病史的朋友请勿参加此次行程。
              p 2、有癫痫病史，或有其他可诱发性疾病，易过敏者请勿参与此次行程。
              p 3、有严重压抑症、或有其他精神病患者请勿参与此行程。
              p 4、严重晕车、晕船者请谨慎考虑此次行程。
              p 5、年龄限制在12——68周岁以内。
              strong ※以上人群如参与了本次行程，请自行承担相应责任。
              p 六、免责声明：详细条款请参阅网站（www.sjxx365.com）的户外课堂《南海海钓免责协议书》，凡是报名参加者均视为已经阅读、理解，并完全接受该协议条款
              p 1、本活动将秉承自助、非功利性之原则，除费用平摊外，一切都是自助的方式，参加活动的人员将对自己的行为及后果负责。
              p 2、凡报名参加者均视为具有完全民事行为能力人，如在西沙之行活动中发生人身损害后果，活动组织人、发起人及领队将尽一切努力进行救护与援助，活动组织人与领队不承担赔偿责任。
              p 3、本活动为户外活动，有很多不确定性，亲们需要预留足够的假期时间，因为天气及政策原因导致的行程时间改变，由此带来的任何直接或间接损失，组织方不承担责任。
              p 4、本行程活动为驴友自发组织的AA户外活动，俱乐部只是参与方与联系人，不承担任何由于船方及参与活动队友自身问题所造成的一切后果。
              h3 环境保护
              h4 一、珊瑚礁的保护
              h5 我们应知道的：
              p 有着珊瑚礁的保护和成长，才有珊瑚岛的存在。不适当的活动，则会造成珊瑚的死亡，破环珊瑚礁的成长，使得岛屿受海水侵蚀而消失。科学家已经警告称，100年内，马尔代夫将不再适合人类居住。
              p 西沙群岛共有石珊瑚127种、苍珊瑚1种、笙珊瑚1种、软珊瑚21种、多孔媳7种，除21种软珊瑚外，其余全部为国家II级重点保护动物，并列入世界CITES公约(《濒危野生动植物种国际贸易公约》)。
              h5 我们能做到的：
              p 1、在礁盘内，尽量减少污水至海水中的排放。污水和污物会导致水体富营养化，促进藻类的生长，扼杀珊瑚的生长。
              p 2、潜水时，请勿接触或破坏珊瑚。
              p 3、采捕珊瑚或携带珊瑚属违法行为。
              h4 二、生态圈的保护
              h5 我们应知道的：
              p 西沙群岛上植物有89科224属340种，其中大型真菌6科l1属22种，地衣1种，蕨类4科4属5种，被子植物78科208属312种。根据不同的经济用途，这些植物资源可划分为l0个类型，主要有药用植物、蜜源植物、食用植物、观赏植物引。西沙群岛的动物以鸟类为多，数量十分可观，岛上栖息的有40多种，常见的有鲣鸟、乌燕鸥、黑枕燕鸥、大风头燕鸥和暗缘乡眼等。
              p 西沙群岛是我国主要热带渔场，有记录的珍稀或重要种类甚多，计有珊瑚鱼类和大洋性鱼类400余种，是金枪鱼、马鲛鱼、红鱼、鲣鱼、飞鱼、鲨鱼、石斑鱼的重要捕捞渔场。海产品主要有海龟、海参、珍珠、贝类、鲍鱼、渔藻等几十种。比较名贵的有“海龟之王”棱皮龟、“海参之王”梅花参，世界最著名的珍珠——南珠、宝贝等十几种。
              h5 我们能做到的：
              p 1、不砍伐破坏岛上植被，不踏入可能会影响生态的部分区域。
              p 2、不射杀鸟类，不抓捕龟类，不踏入它们的栖息地，不破坏它们的巢穴或取走它们的卵，尽量做到远观而不亵玩。
              p 3、对于抓捕到的小鱼、珍稀鱼种放生。
              h4 三、垃圾的处理
              p 1、在群岛海域内，请勿向海洋中抛弃任何东西。
              p 2、所有塑料、化纤、金属垃圾需统一保存，集中后运回陆地。
              p 3、果皮、食物残留品、纸类等可快速自然降解类垃圾集中填埋。
              p 4、废水需冷却后倾倒至岛上土壤区内。
              h3 关于海钓
              h4 一、海钓装备
              h5 1、钓竿选择
              p 300-500克船钓铁板杆、路亚杆
              h5 2、轮子选择
              p 纺车轮选用10000—20000型，能绕PE4号线400米左右，用于肾水铁板或船打路亚。横向轮选用低速比型号，4：1左右最合适。轮子选用小型，能绕PE5—6号线400—600米，重量600克以内，全金属，不带自动排线为佳。
              h5 3、主线和前导线的选择
              p 主线用高强度的PE线4—6。横线轮选用80磅以上的碳素前导线，纺车轮子一般选用80磅以上大规格的相对柔软的尼龙前导线。
              h5 4、铁板的选择
              p 铁板选用150—300克就好了，光线暗时选用红色、金色、银色为好，光线亮时选择蓝色、绿色等颜色相对不显眼的颜色。米诺和波帕选择大号的优之利或乐伯乐即可。
              h4 二、西沙鱼类
              p 西沙的鱼太多了，钓到最后都不想钓了，基本上用什么钓法都可以钓到鱼。4月份，海底飞龙最多；冬天，马鲛鱼、金枪鱼最多。对于每一个喜欢钓鱼的人来说，西沙都是一个梦寐以求的天堂，一辈子一定要去一趟。
              p 在西沙海钓，跟在海南本岛四周海钓完全是两种不同的感觉；白天拖钓、晚上沉底钓，海狼鱼、剑鱼、章红鱼，太多了........
              h4 三、关于海钓
              p 不论其中谁先上鱼，其他几位钓手都得自动快速收起自己的钓线、钓竿和撑杆，腾出空间，以支持先上鱼的钓友和大鱼搏斗。假若几十斤的大鱼在拼命挣扎中把数根钓线纠缠在一起并缠上船尾的螺旋桨而不得开脱，这样会造成怎样一种后果？故比赛或非比赛的深海路亚钓活动中，大家为了安全起见，都应遵守这条规则，都应互相支持和礼让。
            section.page-section(id="post-3")
              h2 斐济无人岛  
              p 地点：斐济无人岛(无人岛、原生态、非旅游区、《荒岛求生》录制地)
              p 注：绝对原生态，非旅游区！非旅游区！一般游客无法到达的最美珊瑚区！
              p
                | 节目内容：浮潜、深潜都来，抓鱼摸虾必须有，注意是龙虾和大鳌蟹！海螺？见照片！海钓？太奥特了，我们要和当地土著一起，用土著人的鱼叉去叉，弹弓去打！抓的可全是超级大的苏梅和石斑呦！还会让土著带着与海豚、海龟、鲨鱼亲密接触！注意，是在水下亲密接触！至于海龟和鲨鱼，咱们和它玩玩，拍拍照片就好！
              p 时间：8天时间
              p 航程：10小时15分
              p 有潜水证者优先，斐济最美的珊瑚礁属于你啦！抓紧时间报名参加吧！！！
              p 斐济免签，过境香港，只需出示打印的电子行程单，无需办理港澳通行证。
              h3 斐济详细行程说明
              h4 第一天
              p
                span.Apple-converted-space        
                | 早上八点到斐济楠迪机场，9点出关，购物两小时，中午楠迪中餐馆就餐，下午赶往主岛露营基地，休息两小时，晚上土著酋长组织欢迎晚宴，9点结束休息
              h4 第二天
              p
                span.Apple-converted-space        
                | 早饭（简餐）后，收拾行李，讲解情况，红树林抓大鳌蟹，午餐（根据捕捞情况确定），下午讲解水肺潜知识，坐船出海熟悉水域，浮潜，水肺潜水体验，晚餐后由土著带领出海抓鱼
              h4 第三天
              p
                span.Apple-converted-space        
                | 早餐后带辎重赶到无人岛，露营基地建好，土著人带我们潜水抓石斑，苏梅，龙虾，寻找鲨鱼，海龟，水肺潜水游览珊瑚，顺带抓鱼，做饭
              h4 第四天
              p
                span.Apple-converted-space        
                | 潜水挖海螺，捡贝壳，鲨鱼喂食，浮潜等
              h4 第五天
              p
                span.Apple-converted-space        
                | 另外一个无人岛，露营，喂食鲨鱼，抓螃蟹，寻找海龟（仅能拍照）
              h4 第六天
              p
                span.Apple-converted-space        
                | 返回基地，修整，中午饭店就餐，下午入住太平洋酒店
              h4 第七天
              p
                span.Apple-converted-space        
                | 5点起床，7点赶到机场，9点航班起飞
              p 此行程由当地土著带领，活动地不属旅游区，我们将深度体验土著生活，感受神秘无人岛，精彩无限！专属体验！
              h3 费用说明
              h4 一、费用包含：
              p
                span.Apple-converted-space       
                | 1、斐济全程的大小船交通费用
              p
                span.Apple-converted-space        
                | 2、斐济全程的餐饮、住宿
              p
                span.Apple-converted-space        
                | 3、60万元的户外运动险
              p
                span.Apple-converted-space        
                | 4、水肺潜水费用
              p
                span.Apple-converted-space        
                | 5、土著陪同领队费用
              p
                span.Apple-converted-space        
                | 6、翻译
              h4 二、费用不包含：
              p
                span.Apple-converted-space        
                | 机票及队员个人购物消费
              p
                span.Apple-converted-space        
                | 注：报名后即缴付订金。淘宝拍下定金后，请在出发前确认收货，以免影响行程出发，若之后因个人原因不能参加，则定金不退。因此造成的成团人数不够的情况下，行程将会推迟出发，由此造成的任何损失，俱乐部不承担责任。
            section.page-section(id="post-4")
              h2 西澳大利亚
              h3 行程安排
              h4 DAY1
              p
                span.Apple-converted-space        
                | 长时间飞行,大家都比较疲倦，今天以休闲为主，白天游玩距离珀斯市中心1.5公里的国王公园，它是西澳大利亚最有名的公园和植物园，能俯瞰整个珀斯和天鹅河美景。公园里约有319种植物和80多种鸟类，还设有战争纪念碑和永不熄灭的火炬，以纪念在战争中牺牲的战士！然后去佛曼特沿岸游玩，之后回到驻地休息。
              h4 DAY2
              p
                span.Apple-converted-space        
                | 珀斯市，出海钓鱼，6点30出发，20分钟车程到码头。 返程时间会根据天气状况弹性调整，时间约在中午12:00至下午 14:00 之间，钓到的鱼带回来自行料理。
              h4 DAY3
              p
                span.Apple-converted-space        
                | 超市购买烧烤物资，前往美丽海湾摄影，游玩,晚上夜潜抓大螃蟹，大虾，捞青口，回来用自己的猎获来一次烧烤大餐BBQ
              h4 DAY4
              p
                span.Apple-converted-space        
                | 体验水肺潜水抓真正的野生澳洲红龙虾。7点出发，20分钟车程到码头，跟随专业潜水向导去潜水抓龙虾。澳洲龙虾来自最洁净的海域，是澳洲非常具有代表性的海鲜，澳洲龙虾味道非常鲜美，脱水性小。 行程及时间会根据当时的天气状况弹性调整。
              h4 DAY5
              p
                span.Apple-converted-space        
                | 早上8点出发开车前往：珀斯南部数百公里外的奥格斯塔。在这里可以抓到澳洲南海岸特有的青边、棕边鲍鱼，以及美味的澳洲龙虾，这里水质清澈，适合这两种鲍鱼生活。抓鲍鱼的时候还可以享受美妙的海底世界，鱼儿穿梭，偶尔还有海豹出现在你的面前。晚上在驻地品尝亲手抓到的美味海鲜，住宿可选择住宿营地或度假小屋。
              h4 DAY6
              p
                span.Apple-converted-space        
                | 9点早餐后游览坐落于西澳州崎岖南部海岸线，这座城市能让您真正逃离尘世纷扰，欣赏蔚蓝的大海和魅力的白沙滩。大概在一点返程回珀斯。
              h4 DAY7
              p
                span.Apple-converted-space        
                | 9点出发去尖峰石阵pinnacles ，大概2个半小时车程。
                span.Apple-converted-space   
                | 尖峰石阵原是植物的根部，这些树根含有的酸性物质，使得根部周围含钙矿物质不断附着于根迁，沙质随风吹走，这些根部逐渐露出地表， 形成了“尖峰石阵”。这类景观在西澳并不唯一，但是这里是最多的，据说有上百万个，从而形成了奇特壮观的地质地貌。
              h4 DAY8
              p
                span.Apple-converted-space        
                | 乘船出海，寻找野生海豚并亲密接触，同游嬉戏，享受美妙时光。我们的工作人员都经验丰富，他们常年与200多只当地海豚共处与海豚间的互动，能带给你更惊艳的体验。所以这些经验丰富的工作人员会在出海前先向你讲解注意事项，确保每位参加者都能玩得尽兴。 出发后，经验丰富的船长会驾驶着船，带着你在浩瀚的海洋中穿梭，寻找野生海豚的踪迹。一旦找到，你就可以穿好装备，跳下海跟成群的野生海豚进行亲密接触！ 行程说明:早上6点40开车出发到罗金厄姆 (Rockingham)，到达目的地后会根据海豚的行踪及天气状况来调整当天的行程安排。
              h4 DAY9
              p
                span.Apple-converted-space        
                | 超市购物，购买纪念品及澳洲特产，下午乘机回国
              h3 费用说明
              h4 一、费用包含：
              p
                span.Apple-converted-space        
                | 1、西澳全程的交通费用
              p
                span.Apple-converted-space        
                | 2、西澳全程的餐饮、住宿
              p
                span.Apple-converted-space        
                | 3、60万元的户外运动险
              p
                span.Apple-converted-space        
                | 4、水肺潜水抓龙虾费用
              p
                span.Apple-converted-space        
                | 5、出海与海豚亲密接触费用
              p
                span.Apple-converted-space        
                | 6、出海海钓费用
              p
                span.Apple-converted-space        
                | 7、当地陪同领队费用
              p
                span.Apple-converted-space        
                | 8、翻译
              h4 二、费用不包含：
              p
                span.Apple-converted-space        
                | 机票、签证及队员个人购物消费
              p
                span.Apple-converted-space        
                | 注：报名后即缴付订金。以免影响行程出发，若之后因个人原因不能参加，则定金不退。因此造成的成团人数不够的情况下，行程将会推迟出发，由此造成的任何损失，俱乐部不承担责任。
              p
                span.Apple-converted-space        
                | 特别提示：行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可
              p
                span.Apple-converted-space        
                | 当然鲍鱼、龙虾也不是随便捕捞的，都有着严格的法律规定！俱乐部澳大利亚渔猎行程将严格遵守当地的法律法规！另外，俱乐部还会邀请当地的渔猎高手陪同，去最美丽的海湾，寻找龙虾鲍鱼的窝子,精彩不容错过！
