extends layout

block content
  nav.main-nav.dark.js-sub-transparent.stick-fixed(style="margin-top:50px")
    .full-wrapper.relative.clearfix
      .inner-nav.desktop-nav
        ul.clearlist.scroll-nav.local-scroll
          li.active
            a(href='#post-1') 多情乌克兰狩猎之旅
          li
            a(href='#post-2') 铁血蒙古国狩猎之旅
          li
            a(href='#post-3') 野性俄罗斯西伯利亚狩猎之旅
          li
            a(href='#post-4') 梦幻南非狩猎尊享体验
          li
            a(href='#post-5') 加拿大猎熊之旅


  section.small-section.bg-gray-lighter
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 荒野狩猎

  .container.relative
    .row
      .col-sm-8.col-md-offset-1
        .blog-item.mb-80.mb-xs-40
          .blog-item-body
            section.page-section(id="post-1")
              h2 多情乌克兰狩猎之旅
              p 乌克兰(UKRAINE,УКРАИНА)位于欧洲东部，总面积为603700平方公里，是欧洲除俄罗斯以外面积最大的国家。
              p 这里美女如云，这里风景如画，最关键的，这里还有丰富的猎物资源和精良的狩猎装备，精彩无极限的乌克兰狩猎行程，等待您的加入！
              h3 行程
              h4 第一天
              p 经过八个半小时的航行时间，抵达美丽的乌克兰，入住第聂伯河边的船式酒店，我们定的房间全部都是河景房，站在露台上就能饱览第聂伯河的美丽风景，看成群的野鸭在河中戏水。
              p 午餐：品尝乌克兰美味（农家自产的肉，蔬菜，水果）
              p 午餐后大堂集合，前往射击俱乐部，鉴赏世界名枪、采购狩猎户外用品。
              p 自驾装甲车：驾驶着数吨重的装甲车在山地上所向披靡，体验装甲车漂移的快感。
              p 射击体验：狙击枪、手枪、KA47的实弹射击体验，让菜鸟们熟悉震耳欲聋的枪声和强大的后坐力，这是狩猎前的开胃菜；
              p 晚餐在乌克兰当地经典餐厅就餐，品尝乌克兰美味。
              p 餐后自由活动，可在当地著名的夜店 “Harem men's club” 空中酒吧消遣休闲，欣赏乌克兰美女的精彩表演，感受异域风情。
              h4 第二天
              p 游览基辅市中心，感受这个古老民族的民风民俗，其中最具代表性的便是独立广场、安德利艺术街、圣安德烈教堂，基辅第二战争博物馆。
              p 午餐在“Tsarske selo” 用餐
              p 餐后从基辅出发，前往猎区，大约5个小时的车程，沿途欣赏乌克兰美景。
              p 到达猎区，晚餐后休息、桑拿，为第二天活动养精蓄锐
              h4 第三、四天
              p 早餐后，进行狩猎前的装备培训，培训包括猎枪的安全使用规则，猎枪的使用方法，飞碟打靶练习，为狩猎野鸡做准备；狙击枪射击训练，为狩猎野鹿、野猪做准备。期间还会进行飞碟射击比赛活动，优胜者将作为狩猎活动的领头羊，并将获得神秘大奖。
              p 下午两人一组分别进行狩猎活动：一组狩猎大型野鹿（乌克兰的马鹿，是世界上独一无二的品种，体型硕大矫健），另外一组狩猎野猪。
              p 狩猎结束后可以免费洗乌克兰的特色桑拿：在桑拿的时候，用一种树叶做的拍子，拍打身体，据说能祛病强身。
              p 晚餐后出发夜猎野猪（两人一组）。
              h4 第五天
              p 早餐后带猎犬去狩猎野鸡，两人一组（每组狩猎指标25只），下午两人一组进行狩猎活动（分别狩猎马鹿、野山羊）。
              p 狩猎结束后，桑拿、休整。
              p 晚餐时，一边品尝我们狩猎到的野味，一边欣赏乌克兰姑娘的精彩表演。 餐后出发夜猎野猪
              h4 第六天
              p 早餐后狩猎野鸡，两人一组（每组指标25只）
              p 下午狩猎野猪、野山羊（两人一组）。
              p 狩猎结束后，回营地吃晚餐，并欣赏乌克兰姑娘的精彩表演和乌克兰的民俗乐器表演，大家还可以和美丽的乌克兰姑娘一起跳舞互动哦！
              p 晚餐后出发夜猎野鹿。
              h4 第七天
              p 品尝当地自制的特色早餐（蜂蜜，香肠，炖肉，酱，自酿伏特加）
              p 早餐后，离开猎区前往基辅，并办理入住手续。晚餐在第聂伯河 “Hutorets”就餐。晚餐后可以深度体验乌克兰人丰富多彩的夜生活。
              h4 第八天
              p 早餐后前往机场，结束精彩行程，返回中国。
              h3 费用说明
              p 行程费用：详询俱乐部
              p 费用包含：吃、住、行、猎物，保险，枪支弹药，导猎，翻译。
              p 整个行程猎物包含：4只野鹿+4只野猪+2只野山羊+100只野鸡
              p 费用不包含：往返乌克兰机票，签证，个人消费
              p 备注：报名人数满8人即可发团。
              h3 温馨提示
              p 入境须知及海关规定：
              p 入境时如携带现金超过1000美元需报关。报关单一定要如实填写（俄、乌、英语，任选一种语言），否则一旦被乌方查出有隐藏的金额，将全部没收。
              p 严禁携带毒品、受保护动植物制品及其它国际禁运物品出入境。
              p 按乌方规定，外国公民持有效签证入境无需办理居留手续。如签证有效期期满，则在签证有效期期满的前三天内，在当地警察局护照签证处申办居留手续，但一次停留时间（包括签证有效时间）不得超过6个月。
              h3 关于语言
              p 尽管乌克兰语是乌克兰唯一的官方语言，但几乎所有乌克兰人都会说俄罗斯语。在民间，乌克兰语主要通行于乌克兰的西部、南部和首都基辅地区，乌克兰北部和东部主要是用俄语。在乌克兰很难找到会说英语的人。
              h3 关于电源
              p 乌克兰使用的电压跟欧洲一致，220伏/50赫兹，电流16A，需要携带欧标转换插头。

              h3 关于通讯
              p 就移动而言，直拨中国大陆电话的资费：0.99元/分钟；接听资费：0.99元/分；发短信至中国内地：1.99元/分钟；发短信至其他国家和地区：2.89元/分钟；接收短信免费。
              p 漫游GPRS资费：3元包3M，每日费用30元封顶，北京时间当天在当地使用流量无限。开通一带一路多国流量包：包3天78元，包5天118元，包7天158元，或开通欧洲多 
                | 国流量包：包3天78元，包5天128元，包7天168元
              h3 关于衣着 （俱乐部会在出发前确认天气，根据实际情况建议穿着）
              p 乌克兰内陆属大陆气候，九月起普遍温度渐降，十二月至翌年二月最冷，温度往往低于0℃，甚至-10℃，有雪；黑海沿岸较暖，但平均不会降至10℃以下，日照时间也会渐渐缩短，二、三月后才渐长。夏天由五月至八月，此时也是雨季，气温可超过30℃，内陆会更热，日照时间可逾13小时。
              h3 关于签证
              p 落地签 -资料（全部电子版）：
              p 1、本人护照（照片页）可拍照
              p 2、本人照片
              p 3、公司的英文名称及职务
              p 4、在中国住的地址
              p 5、本人邮箱地址
              p 6、往返机票电子行程单（需携带打印件）
              p 7、电子保单（需携带打印件）

              h3 枪支使用安全提示
              p 首先，请您牢记：您手中的枪支弹药具有极强的杀伤力！！
              p 1、枪口在任何时候不得对人，要养成枪支的保险除了射击时打开外，其它的时间都应拨到闭锁状态。
              p 2、持枪时扣扳机的手应握住枪颈，食指放在扳机护圈上，而不要放在扳机上。
              p 3、必须保持枪口朝上。
              p 4、在指定狩猎区域内进行射击，不得擅自越区行动。
              p 5、严禁使用自备枪弹，请勿将剩余枪药带出狩猎场地。

            section.page-section(id="post-2")
              h2 铁血蒙古国狩猎之旅
              p Mongolia,一个熟悉又陌生的名字，这里风景迥异，地形多变，有广袤的草原、荒凉的戈壁沙漠、壮美的大峡谷、秀美的湖泊，还有铺满厚厚松针的大森林，你会在这里看到翱翔于湛蓝天空的雄鹰，奔跑于无边草原的黄羚，还有穿梭在森林之中的蒙古鹿，还有清澈小河里成群的哲罗鲑，还有还有.........，这是世界仅存的未被开发的处女地！这里就是与俄罗斯，东西伯利亚接壤的蒙古民主主义共和国，你能看到的一切都是那么陌生，那么新奇！如果这些还不够，如果你需要深度了解这个国家，还可以到草原上散布的蒙古包里去做客，宿营，去到成吉思汗生活过的土地上纵马奔腾，或是到森林里狩猎，或是到草原上追逐奔跑如飞的黄羚，或是在河边与哲罗鲑一决高下，闲暇时间，我们可以烤制野味，或是在戈壁滩上寻宝，捡寻遍地都是的戈壁玛瑙，如果这些还不够，还可以深度领略蒙古国风情，去蒙古酒吧品尝酸爽的马奶酒，去欣赏蒙古国女孩子精彩的舞蹈表演.........
              h3 行程
              h4 Day1 
              p 北京集合
              p 队员需要提前一天到达北京，我们统一入住北京T3机场附近的格林豪泰快捷酒店，T3机场是我们的出发航站楼，俱乐部的领队会在此等候大家，提前到达的队员，还可以去北京老胡同转转，或是吃顿全聚德烤鸭。 （广州等地的队员，可以直接从香港直飞乌兰巴托，会安排蒙古国翻译在乌兰巴托机场接机，这样更加方便）
              h4 Day2 
              p 北京 T3机场 ---- 乌兰巴托机场
              p 我们的航班通常是早上9:30分的蒙古航空的OM224航班，所有队员需要提前至少两个小时到达T3国际出发航站楼，整个飞行时间2个半小时，我们将于乌兰巴托当地时间12：00左右抵达乌兰巴托机场，蒙古国朋友和专职翻译已经在此等候接机，接下来，我们会去吃顿蒙古特色的午餐，然后赶往超市，购买自己喜欢的零食及日用品，喜欢喝酒的当然不能错过蒙古国的伏特加，蒙古国自产的啤酒也很不错，在这里建议大家可以多购买些果汁及巧克力，接下来的几天，我们会是肉食动物，需要更多补充维生素。在物质准备完毕后，我们将乘坐越野车，直奔500公里外的猎区，中途会在酒店休息一晚，第二天抵达猎区。
              p 关于购物：蒙古国的超市，可以直接刷我们国内的银联卡，如果有需要，可以让翻译去帮忙兑换些蒙古图，汇率在1:315左右
              p 关于通讯：建议出国前，开通国际漫游，蒙古国漫游资费拨打和接听均为每分钟2.99元，短信接收免费，发送至国内，每条1.29元，流量为每3M9元钱，目前中国移动有30元封顶的优惠政策，所有大家尽可以随心发照片刷微信，另外俱乐部领队会携带公共WIFI，不过我们在猎区，部分时间是没有手机信号的，有工作安排尽可能提前安排。
              h4 Day3 
              p 乌兰巴 ---- 俱乐部狩猎区
              p 早上8点起床，吃过早餐后，我们继续在草原上飞奔，下午时分赶到俱乐部狩猎区，在这里，我们将对大家做狩猎前的培训，熟悉枪支性能，并进行射击训练，大家需要在这里熟悉狙击枪击发的强大后坐力和火药味，为确保能猎获猎物做充分的准备工作，能不能吃到野味，就看大家的训练成果了！训练结束，吃过晚餐后，我们将开始精彩刺激的第一次狩猎活动--夜猎
              p 夜猎是蒙古国狩猎最具神秘感的活动，整个夜猎的过程都在越野车上完成，夜猎从晚上十二点开始一直到凌晨，会在蒙古国黑暗森林里不停的穿越寻找未知的猎物，每辆越野车，后排有两个枪位，分别有两个队员持枪负责，导猎用射灯或热成像夜视仪，发现目标，并仔细辨认是否是狩猎许可证允许狩猎种类，经确认后导猎发出射击口令，剩下的工作就交给队员了，第二天有没有肉吃，就看大家的了。在整个狩猎过程中，枪口必须一直朝向车窗外！夜猎物种丰富，经常会遇到鹿、狼、狐狸、野兔、野猪、熊等动物。（狩猎许可有物种及数量限制，如果有特殊要求，比如狩猎熊，蒙古盘羊等动物，需要提前联系俱乐部，单独办理许可手续）
              h4 Day4
              h5 围猎
              p 白天围猎目标是草原狼，队员到达围猎地点后选择好射击点，埋伏下来，由导猎到山林里去驱赶猎物，猎物在逃跑过程中，距离哪一个射击点近，则这个队员就开枪，射击后，如果没有命中，不要挪动位置，由下一个射击点的队员继续射击，切记，在埋伏过程中，不要发出大的响声！狼的观察力是超强的！在没有发现猎物之前，枪械一定要关闭保险！
              h4 Day5 
              h5 逐猎
              p 逐猎目标—黄羊，黄羊在蒙古国泛滥成灾，破坏草场，严重影响了当地牧民的生计，是狩猎许可证中价格最便宜的一个猎物，黄羊的奔跑弹跳能力，十分强悍！队员分乘四驱越野车，在草原上发现黄羊后，选择一头成年公羊，然后驾车与黄羊一起奔跑，队员在车辆行驶中向飞奔的黄羊开枪射击，能否打到，就看你射击水平了！这个活动是整个行程中最精彩最刺激的项目！
              h4 Day6 
              h5 钓鱼，石头烤全羊
              p 蒙古国河流众多，目标鱼有鳟鱼和狗鱼，我们会在蒙古国美丽的河边吃石头烤全羊，喜欢钓鱼的就可以利用这个时间在河边钓鱼
              h4 Day7 
              h5 狩猎区 ---- 乌兰巴托
              p 到了乌兰巴托，则可以欣赏城市风光，当然令人期待的还是晚上的活动，了解他们的夜生活。
              h4 Day8 
              h5 乌兰巴托 ---- 北京
              p 在返回北京之前，领队会带领大家到外蒙的枪店、手工艺品店逛逛，买些纪念品。当然枪是带不走的，只是看看。
              h3 合法的狩猎活动
              p 由于自然条件和政策等原因,目前我国确实没有这样规格的狩猎行程。但是在蒙古国，这个行程是合法的，蒙古国地广人稀，黄羊和狼数量过大，给当地草场和牲畜带来了极大危害，蒙古国牧民的生计受到严重威胁，因此，为了维持生态平衡，对这些动物的狩猎存在必要性！另外，在狩猎的过程中应当听从导猎的安排，不可随意开枪，滥捕滥杀。
              h3 费用说明
              h4 一：费用收取
              p 全程费用：15000元/人
              p 报名预交定金：7500元/人（用于办理签证及准备物资等事宜）
              p 注：淘宝拍下定金后，请在出发前确认收货，以免影响行程出发，若之后因个人原因不能参加，则定金不退。因此造成的成团人数不够的情况下，行程将会推迟出发。
              h4 二、费用包含：
              p 1、乌兰巴托出发至返回乌兰巴托期间的住宿、餐饮
              p 2、狩猎用车辆、马匹、枪支弹药、导猎、翻译、猎物费、许可证费用
              p 3、60万元户外运动险
              p 4、签证费用
              h4 三、费用不包含：
              p 1、酒水、往返机票、
              p 2、其他购物产生的费用
              p 3、乌兰巴托夜店的消费
              h4 特别提示
              p 1、队员不得有意隐瞒自己的病史及自身的生理特殊变化；在户外活动中由于过去的病史或自身的生理变化造成的事故，其责任和相关医疗费用由队员自行承担。
              p 2、活动期间接受俱乐部的统一安排，遵守纪律，不得自行其事，否则一切后果由队员自行承担，并由保险公司按规定赔付；活动过程中，如感到身体有任何不适，应及时向俱乐部工作人员报告，以便采取响应措施。
              p 3、活动过程中，在俱乐部工作人员指导下自助互助完成户外活动事务，爱护公用物品，安全用火，自觉环保。
              p 4、活动中领取的户外公共物品，包括狩猎装备，在回交时如有发现任何损坏，丢失均按全价赔偿，或购买一个同样颜色、款式、同样价位的产品作为赔偿,损坏的产品则归签领人所有。
              p 5、在整个活动中，队员已经同意并确认俱乐部所安排好的餐饮、交通、住宿等环节，队员不得随意更改、指责，如有以上情况出现，所发生的一切后果均由违规者承担所有责任。活动中如遇到影响安全系数的大风、大雨天气，队员允许俱乐部根据实际情况,在征得队员同意的情况下更改，调整活动方案的内容。
              p 6、在此活动签证开始办理后，因故退出本次活动，定金不予退还；因特殊原因在活动过程中退出活动，必须征得俱乐部领队同意并签字，所收费用不予退还，由此而产生的交通费等相关费用自理。
              p 7、在野外活动中，任何人在未经俱乐部领队签字同意的前提下，私自玩水、游泳、徒步、攀岩、登山等，所造成的意外事故均自负，俱乐部不承担任何法律责任与事故赔负。
              h5 注：
              p 1、因国外行程涉及签证等问题，因此，如果因为队员临时退出导致的行程因人数不够，而无法开展，俱乐部有权取消行程或推迟出发，俱乐部不承担任何损失。
              p 2、行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可。
              p 免责声明：凡是报名参加者均视为已经阅读、理解，并完全接受以上内容。
              h4 枪支安全要求
              p 首先，请您牢记：您手中的枪支弹药具有极强的杀伤力！！
              p 1、枪口在任何时候不得对人，要养成枪支的保险除了射击时打开外，其它的时间都应拨到闭锁状态。
              p 2、持枪时扣扳机的手应握住枪颈，食指放在扳机护圈上，而不要放在扳机上。
              p 3、必须保持枪口朝上。
              p 4、在指定狩猎区域内进行射击，不得擅自越区行动。
              p 5、严禁使用自备枪弹，请勿将剩余枪药带出狩猎场地。

            section.page-section(id="post-3")
              h2 野性俄罗斯西伯利亚狩猎之旅
              h3 行程简介
              p 俄罗斯，这片辽阔的神秘之境，在它的心脏部位有一个神奇的地方，那就是西伯利亚，这是个冰天雪地的世界，也是一个物种丰富的宝库，这片土地拥有无与伦比的美景，许多珍稀的动植物，这里的所有一切都令人叹为观止，这就是西伯利亚！
              p 西伯利亚13000平方公里的面积，随处可见棕熊，欧亚狼，马鹿的踪迹••••••
              p 俱乐部的野性俄罗斯狩猎之旅，历时8天，行程跨越2700公里，越过了高山，湖泊，沼泽，河流，深入西伯利亚腹地，所经历的都那么叹为观止！终生难忘！现在，加入我们吧！一起去感受狂野的西伯利亚！
              p 注：该行程会因狩猎季节的不同，其狩猎物种也会有所不同！（户外运动有风险，请广大会员根据自身的情况选择参与）
              h3 路线特色
              p ღ 景色：感受西伯利亚的壮美，海一样纯净蔚蓝的贝加尔湖风光；
              p ღ 餐食：品俄罗斯风味美食，尽享野味大餐
              p ღ 工具：装甲车、气垫船、马匹、各类狙击枪、滑膛枪
              p ღ 住宿：特色高品质俄罗斯木刻楞、狩猎基地木屋别墅，猎区小木屋

              h3 高端狩猎行程
              p 想看详细的路线安排？那我们会让你失望了，我们的狩猎行程没有详细的路线安排，因为我们的路线是跟随精彩而动，在我们出发前两天，我们会安排猎区管理人员，根据野生动物动态摄像机捕捉到的影像，评估野生动物的出没地点及时间，以此为依据，制定我们的狩猎路线及方案，在俄罗斯西伯利亚几大猎区中，优选猎区！
              p 哪里有精彩，我们就去哪里！我们有比西伯利亚棕熊更敏锐的嗅觉！
              p 行程天数：8天
              p 猎区：西伯利亚猎区
              p 狩猎方式及工具：徒步、诱饵定点、夜猎、装甲车、气垫船；根据猎区及狩猎物种，选择相应的狩猎工具。
              p 狩猎物种：
              p 大型动包含：西伯利亚棕熊、马鹿、驼鹿；
              p 中小型动物包含：狍子、野猪、狼、野鸭等
              p 住宿：基地豪华别墅、原始丛林小木屋 ，松林酒店
              p 时间：全年

              h3 标准狩猎行程
              p 行程天数：8天
              p 猎区：西伯利亚猎区
              p 狩猎方式及工具：徒步、诱饵定点、夜猎、骑马狩猎、越野车；根据猎区及狩猎物种，选择相应的狩猎工具。
              p 全新升级：持枪骋马，带上猎犬，穿越西伯利亚原始丛林，寻找猎物的踪迹
              p 爽的不要不要的！
              p 狩猎物种：鹿，狍子，野猪，狼，野兔，野鸭等
              p 住宿：原始丛林小木屋 ，松林酒店
              p 时间：全年

              h3 行程介绍
              h4 第一天
              p 乘国际航班从【北京】飞往俄罗斯【伊尔库茨克】，接机后前往军火店参观、选购专业狩猎必备品（服装工具等等）。入住松林酒店，欣赏里斯特杨卡小镇。
              h4 第二天
              p 松林酒店驱车前往主基地，下午茶休整和队员熟悉，安排大家在指导教练的培训下尽快熟悉打猎流程，进行射击趣味比赛，优胜者将获得神秘奖品。
              p 根据摄像机采集图像，判断动物出没地点和时间，优选猎区，晚上开始夜猎。我们的狩猎工具是全地形装甲车，没有什么可以阻挡我们前进的道路，导猎会用专业狩猎灯发现猎物，然后剩下的就是你举枪射击，能否收入囊中，就看你的枪法了。
              h4 第三天到第六天
              p 根据前期狩猎结果，持续狩猎，中间安排天然温泉洗浴
              h4 第七天
              p 气垫船八十公里逆流而上。沿途打野鸭等小动物，钓鳟鱼，晚上进行烤鱼及猎物烹饪
              p 砰砰砰啪啪啪，享受速度与激情！
              h4 第八天
              p 早餐后前往伊尔库茨克城市进行市内观光或洗桑拿，俄罗斯美女陪游自费，浏览行程根据当日航班情况进行调整。
              h3 费用说明
              h4 一、高端行程全程费用包含：
              p 1、俄罗斯境内的餐饮、住宿
              p 2、俄罗斯境内全程的车辆交通，高端狩猎行程包括猎区装甲车，气垫船等费用
              p 3、狩猎用的枪支、弹药、翻译、导猎、猎物费用、许可费用
              p 4、保险
              p 5、签证费用
              p 费用不含：
              p 往返机票，俄罗斯境内的个人购物消费
              h4 二、标准行程全程费用包含
              p 1、俄罗斯境内的餐饮、住宿
              p 2、俄罗斯境内全程的车辆交通，标准行程包含猎区越野车，狩猎的马匹等费用，
              p 3、狩猎用的枪支、弹药、翻译、导猎、猎物费用、许可费用
              p 4、保险
              p 5、签证费用
              p 费用不含：
              p 往返机票，俄罗斯境内的个人购物消费
              h4 三、报名预交定金 ：按活动费用50%缴纳（用于办理签证及准备物资等事宜）
              p 注：淘宝拍下定金后，请在出发前确认收货，以免影响行程出发，若之后因个人原因不能参加，则定金不退。因此造成的成团人数不够的情况下，行程将会推迟出发，由此造成的任何损失，俱乐部不承担责任。俱乐部根据航班、车次、天气等具体情况有变更行程的权利。
              strong 特别提示 ：行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可。

            section.page-section(id="post-4")
              h2 梦幻南非狩猎尊享体验
              p 南非草原辽阔，为非洲野生动物提供了繁衍生息的家园，有着丰富而又多元化的野生动物种群及多种不同的生态系统；狩猎，从最开始的为了满足人类生存，发展到今天，已经成为为保护野生动物而兴起的一项贵族娱乐活动。 俱乐部经过长期考察，优选了南非猎场，并为大家推出以下狩猎套餐，我们的选择，一定是最闪亮的！
              h3 1. 南非狩猎基础版
              h4 第一天
              p 团组成员集合，从中国出发，前往南非约翰内斯堡(飞行时间约为13.5小时）。
              p 当日餐宿于飞机上。
              h4 第二天
              p 清早抵达南非约翰内斯堡，专人接机
              p 取得行李后离开，前往5星级酒店享用早餐
              p 随后乘车前往猎场（约255公里，车程约2.5小时）
              p 抵达猎场后办理猎场营地的入住手续，随后回房间换洗调整休息
              p 中午时分享用简单早午餐
              p 下午前往靶场对枪支进行熟悉及调校
              p 傍晚返回营地，晚餐后并休息。
              p 当日用餐：早餐-西式早餐，午餐-营地西式早午餐，晚餐-营地西式晚餐
              p 住宿：猎场营地住宿
              h4 第三到五天
              p 清晨早起后简单营养补给随后进入猎场开始全天狩猎活动
              p （家属和陪同可以同前往观看狩猎或者参加其他猎场内活动，如：徒步，越野四驱车，钓鱼等）
              p 中午返回营地用早午餐，随后休息
              p 下午再次进入猎场进行狩猎直至傍晚返回营地
              p 晚餐后休息。
              p 当日用餐：早餐-营养补给，午餐-营地西式早午餐，晚餐-猎场营地晚餐
              p 住宿：猎场营地住宿
              h4 第六天
              p 清晨早起后简单营养补给随后进入猎场开始全天狩猎活动
              p （家属和陪同可以同前往观看狩猎或者参加其他猎场内活动，如：徒步，越野四驱车，钓鱼等）
              p 中午返回营地用早午餐，随后休息
              p 下午再次进入猎场进行狩猎直至傍晚返回营地
              p 晚餐后休息。（如有需要，则在当晚办理各项标本制作等手续）
              p 当日用餐：早餐-营养补给，午餐-营地西式早午餐，晚餐-猎场营地晚餐
              p 住宿：猎场营地住宿
              h4 第七天
              p 早餐后整理行装，随后离开驱车前往约翰内斯堡O R Tambo国际机场（约255公里，车程约2.5小时），乘坐飞机返回中国。(飞行时间约为13.5小时）
              p 当日用餐：早餐-营地西式早餐
              p 住宿：餐宿于飞机上
              h4 第八天
              p 抵达中国，结束南非狩猎之旅。

              p 该行程包含的猎物有：
              p 疣猪/黑斑羚/跳羚/白面羚/鸵鸟，其中任意3只
              p 免费猎物包括野兔、珍珠鸡、狒狒、狐狼等小动物

              h3 2. 南非狩猎定制版
              h4 关于行程定制
              p ★确定人数和行程，以及想要狩猎动物的品种和数量，签订合同。
              p ★俱乐部负责办理签证，费用自付；出发前四周，支付50%定金，出发前两天，付清余款
              p ★枪械和子弹包含在动物报价中
              p ★猎场食宿，车辆，导猎费用，每天200美金
              p ★猎场包含一日三餐，饮料，不含酒精类饮料
              p ★狩猎是见血付钱，没有打到，不支付动物费用，只支付食宿，车辆，导猎，保险费用
              p ★所有猎物都有出口许可
              p ★狩猎狮子，大象，河马，鳄鱼，犀牛需要提前三到四个星期申请狩猎许可，其他动物提前一周申请
              p ★标本制作，5000-8000美金，运费2000美金，出口文件几百美金，国内清关费用不详
              h4 关于交通
              p 目的地：约翰内斯堡
              p 国泰航空，香港中转、
              p 新加坡航空，新加坡中转、
              p 阿联酋航空，迪拜中转
              p 国航，北京直飞
              h4 费用说明
              p 费用详询俱乐部
              h5 费用包含：
              p 1. 猎物：以上所列
              p 2. 枪支：猎步枪：Brno-口径: .22,Howa-口径：223，Musgrave-口径：308，Ruger-口径：300Win， CZ-口径：30-06，CZ-口径：375，CZ-口径：416，Gibbs-口径：505，根据不同猎物选择枪支散弹枪：立双管猎枪，平双管猎枪，泵动式猎枪
              p 3. 狩猎过程中所需弹药
              p 4. 狩猎所需的猎票、出口许可证等
              p 5. 导猎，猎场内狩猎使用的相关车辆
              p 6. 猎场中的各项活动所需费用（如徒步，越野车，钓鱼等）
              p 7. 猎场期间所有的非酒精饮料
              p 8. 保险费用
              p 9. 餐饮、住宿
              h5 不包含：
              p 1. 狩猎套餐包含项以外的其它动物（如需狩猎其他动物请咨询俱乐部）
              p 2. 标本的制作及运输费用
              p 3. 猎场内所有酒精饮品
              p 4. 猎装等狩猎装备
              p 5. 猎场内其他服务费用（如：洗衣费，服务员小费，电话费等）
              p 6. 除狩猎行程外的旅游行程（可提前向地接方要求增加旅游行程，费用另计）
              p 7. 不包含国际或者国内段机票
              p 8. 上述行程中未提及的其它费用
              strong 行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可 
              h3 注意事项 
              p 1. 所有猎手及陪同人员需提供个人的身体状况信息，如有各类病史（如：心脏病，糖尿病等），请确认随身携带药物并告知俱乐部
              p 2. 根据南非当地的狩猎惯例，猎物被击中导致流血或者逃脱，一概被认定为狩猎成功，猎手需找到受伤的猎物后方可进行下一轮狩猎。
              p 3. 如涉及狩猎大型或凶猛动物（如：狮子、犀牛、大象、河马等），需提前30天将护照信息发至俱乐部，以便申请相应猎票。
              p 4. 所有猎手狩猎前必须得到专业导猎对射击技术的认同后方可进入猎场狩猎。
              p 5. 所有猎手必须严格遵守猎场内的安全规定，一旦发现危险行为将会被导猎警告，多次劝阻无效则会被强制取消狩猎资格，不得再次进入猎场，费用恕不退还。
              p 6.由于狩猎运动涉及荷枪实弹的射击，强烈建议在狩猎期间忌饮含大量酒精的饮料。
              p 7. 每年5月至8月属于南非的秋冬季节，早晚温差较大，建议准备御寒猎装，9月至4月为春夏季，天气相对较为炎热，建议准备防暑防晒用品（我们的猎场也会为客户提供驱蚊喷剂）
              p 只要你能想到的，我们都能让你梦想成真！定制行程，感受精彩，请联系我们！

            section.page-section(id="post-5")
              h2 加拿大猎熊之旅
              p 加拿大位于北美洲北部，森林覆盖面积占全国总面积的44%，居世界第六。是各种动物、野鸟的天堂，打猎环境极佳。在这里可狩猎的大型动物有北美的糜、大鹿、美国麋鹿、黑熊等，并且在加拿大有着明文规定，不得圈养动物来猎杀，故此这里的猎物均是充满原始的野性，是狩猎爱好者们的又一个狩猎天堂，而其中我们猎区所在的省的森林面积覆盖率为83%。
              p 在每年的5月—6月、9月—10月，是加拿大的法定猎熊季，这个阶段在划定的猎区可以合法捕猎符合条件的黑熊，有没有想跟随我们一起去体验一场惊险刺激的狩猎之旅，享受那投身于大自然中与野兽对峙并将其征服的快感呢？
              h3 行程亮点
              p ●狩猎黑熊，深入丛林险地与顶级掠食者对决
              p ●挑战淡水巨怪，白纹虎嘴狗鱼、条纹狗鱼和路亚黄鲈等
              table(border="1")
                tbody
                  tr
                    td(valign='top')
                      p
                        span 日期
                    td(valign='top')
                      p
                        span 时间段
                    td(valign='top')
                      p
                        span A
                        span 组行程
                    td(valign='top')
                      p
                        span 项目安排
                  tr
                    td(rowspan='3', valign='top')
                      p
                        span 第一天
                    td(valign='top')
                      p
                        span 凌晨
                    td(valign='top')
                      p
                        span 到达加东城市弗莱
                    td(valign='top')
                      p
                        span 入住露营地
                  tr
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 射击场
                    td(valign='top')
                      p
                        span 射击训练
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 休息
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第二天
                        br
                        span 第三天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 猎熊点
                    td(valign='top')
                      p
                        span 猎熊
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 休息
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第四天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 猎熊点
                    td(valign='top')
                      p
                        span 猎熊（体验十字弩猎）
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 篝火派对
                        span +
                        span 熊掌大餐
                  tr
                    td(rowspan='3', valign='top')
                      p
                        span 第五天
                    td(valign='top')
                      p
                        span 上午
                    td(valign='top')
                      p
                        span 前往
                        span Chipman
                    td(valign='top')
                      p
                        span 条纹狗鱼及黄鲈路亚
                  tr
                    td(valign='top')
                      p
                        span 下午
                    td(valign='top')
                      p
                        span Chipman
                        span 或弗莱
                    td(valign='top')
                      p
                        span 由队员选择继续路亚钓或弗莱城市游览
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 休息
                  tr
                    td(rowspan='3', valign='top')
                      p
                        span 第六天
                    td(valign='top')
                      p
                        span 上午
                    td(valign='top')
                      p
                        span 圣约翰河
                    td(valign='top')
                      p
                        span 挑战淡水巨怪白文虎嘴狗鱼（可达
                        span 1.5m
                        span ）
                  tr
                    td(valign='top')
                      p
                        span 下午
                    td(valign='top')
                      p
                        span Gagetown
                    td(valign='top')
                      p
                        span 小嘴鲈鱼
                        span +
                        span 黄鲈路亚
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 饯别派对，渔获大餐
                        span +
                        span 肋排
                        span BBQ
                        span ，露营篝火
                        span Party
                  tr
                    td(valign='top')
                      p
                        span 第七天
                    td(valign='top')
                      p
                        span 上午
                    td(valign='top')
                      p
                        span 机场饯别
                    td(valign='top')
                      p
                        span 完美完成加东狩猎路亚之旅
              table(border="1" style="margin-top:20px")
                tbody
                  tr
                    td(valign='top')
                      p
                        span 日期
                    td(valign='top')
                      p
                        span 时间段
                    td(valign='top')
                      p
                        span A
                        span 组行程
                    td(valign='top')
                      p
                        span 项目安排
                  tr
                    td(rowspan='3', valign='top')
                      p
                        span 第一天
                    td(valign='top')
                      p
                        span 凌晨
                    td(valign='top')
                      p
                        span 到达加东城市弗莱
                    td(valign='top')
                      p
                        span 入住露营地
                  tr
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 射击场
                    td(valign='top')
                      p
                        span 射击训练
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 休息
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第二天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 前往
                        span Chipman
                    td(valign='top')
                      p
                        span 条纹狗鱼及黄鲈路亚
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span Chipman
                        span 或弗莱
                    td(valign='top')
                      p
                        span 由队员选择继续路亚钓或弗莱城市游览
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第三天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 圣约翰河
                    td(valign='top')
                      p
                        span 挑战淡水巨怪白文虎嘴狗鱼（可达
                        span 1.5m
                        span ）
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span Gagetown
                    td(valign='top')
                      p
                        span 小嘴鲈鱼
                        span +
                        span 黄鲈路亚
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第四天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 猎熊点
                    td(valign='top')
                      p
                        span 猎熊
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 篝火派对
                        span +
                        span 熊掌大餐
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第五天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 猎熊点
                    td(valign='top')
                      p
                        span 猎熊
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 休息
                  tr
                    td(rowspan='2', valign='top')
                      p
                        span 第六天
                    td(valign='top')
                      p
                        span 日间
                    td(valign='top')
                      p
                        span 猎熊点
                    td(valign='top')
                      p
                        span 猎熊（体验十字弩猎）
                  tr
                    td(valign='top')
                      p
                        span 晚上
                    td(valign='top')
                      p
                        span 露营地
                    td(valign='top')
                      p
                        span 饯别派对，渔获大餐
                        span +
                        span 肋排
                        span BBQ
                        span ，露营篝火
                        span Party
                  tr
                    td(valign='top')
                      p
                        span 第七天
                    td(valign='top')
                      p
                        span 上午
                    td(valign='top')
                      p
                        span 机场饯别
                    td(valign='top')
                      p
                        span 完美完成加东狩猎路亚之旅
              h3 费用说明
              p ●猎手：详询俱乐部，价格包含一头熊/猎手。
              p ●随行人员：详询俱乐部。
              p ●如猎手猎到第一头熊后想继续狩猎，在向导完成第一头熊的登记手续后，可以安排狩猎第二头熊，将收取一定费用。
              p ●根据加拿大法律规定2018年猎熊指标：每名猎手最多只能狩猎两头熊。
              p 费用包含：
              p 加拿大境内的车辆，住宿，三餐，路亚艇，钓鱼设备，导猎费用，枪械射击每人200发各式子弹，保险
              p 费用不包含：
              p 中国至加拿大蒙克顿往返机票，取得猎证、枪证的相关培训考试费用及食宿费用（拥有英联邦国家或美国枪支安全培训及狩猎培训证书，或者取得过当地狩猎证者，可不参与考试，否则行程将增加两天参与考试），导猎小费（非强制，完全自愿），枪械射击200发各式子弹超额部分，签证以及个人消费。
              p 特别说明：加拿大允许合法出口动物标本，俱乐部可协助战利品的标本制作、清关及发运回国，相关费用自理。
              strong 注：报名后即缴付订金，出发前请确认收货。如因个人原因导致退出，出发前15天内则无法退还订金，出发前30至15天内则扣除已支付费用（如营地住宿、车费等），敬请见谅！

              h3 时间安排
              p 3700平方公里私人领地，无与伦比的资源，鱼与熊掌可以兼得的盛宴。十字弩近距离征服猛兽的快感，1.5米淡水巨怪的搏斗，体验肾上腺素飙升的感受。加东秋季猎熊路亚盛大开启，时间安排如下：
              p 5月3号，5月20号，6月1号，6月20号
              p ●9月，路亚钓蓝鳍金枪鱼：全世界品质最好的大西洋蓝鳍金枪鱼，重量达1000磅左右。
              p ●夏季，前往极光带原住民区：钓鱼赏极光，夏季唯一能看到北极光的地方。
              strong 特别提示：行程中，领队及队员拍摄的照片及视频，行程结束后，俱乐部编辑后将用于行程回顾及俱乐部平台分享展示，参加行程的队员如有特殊原因不便发布个人影像图片，需向俱乐部说明，否则则认为默认许可。
