extends layout

block content
  section.home-section.parallax-2.bg-dark-alfa-30(data-background='images/full-width-images/hero-1.jpg')
    .fullwidth-slider.owl-carousel
      .js-height-full.container
        .home-content
          .home-text
            h1.hs-line-8.no-transp.font-alt.mb-50.mb-xs-30  ETHOOW
            h2.hs-line-14.font-alt.mb-50.mb-xs-30  以太户外俱乐部
            .local-scroll
              a.btn.btn-mod.btn-border-w.btn-medium.btn-round.hidden-xs(href='/dive') 高空跳伞