extends layout

block content 
  style.
    .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
    }
    .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
    }
    #app{
      bottom:500px;
      position:relative;
      height:0;

    }
  link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
  section.home-section.parallax-2.bg-dark-alfa-30(data-background='images/full-width-images/hero-1.jpg' style="height:1400px;background-attachment: fixed;")
    .fullwidth-slider.owl-carousel
      .js-height-full.container
        .home-content
          .home-text
            h1.hs-line-8.no-transp.font-alt.mb-50.mb-xs-30  ETHOOW
            h2.hs-line-14.font-alt.mb-50.mb-xs-30  以太户外俱乐部
            .local-scroll
              a.btn.btn-mod.btn-border-w.btn-medium.btn-round.hidden-xs(href='/dive') 高空跳伞
  .container
    .row.align-center
      .col-sm-12
       
        div(id="app" )
          img(style="width: 500px;margin-bottom:0px " src="images/水印.png"  )
          el-carousel(:interval="4000" type="card")
            el-carousel-item
              div(style="position:absolute;left:42%;top:30%")
                a.big-icon-link.lightbox-gallery-1.mfp-iframe(href='https://v.qq.com/txp/iframe/player.html?vid=h0865vurtje')
                  span.big-icon
                    i.fa.fa-play
              img(src="images/slider/slider-1.jpg")
            el-carousel-item
              div(style="position:absolute;left:42%;top:30%")
                a.big-icon-link.lightbox-gallery-1.mfp-iframe(href='https://v.qq.com/txp/iframe/player.html?vid=t0865vlav4e')
                  span.big-icon
                    i.fa.fa-play
              img(src="images/slider/slider-2.jpg")
            el-carousel-item
              div(style="position:absolute;left:42%;top:30%")
                a.big-icon-link.lightbox-gallery-1.mfp-iframe(href='https://v.qq.com/txp/iframe/player.html?vid=f0865xy35p7')
                  span.big-icon
                    i.fa.fa-play
              img(src="images/slider/slider-3.jpg")

  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="https://unpkg.com/element-ui/lib/index.js")
  script.
    new Vue({
          el: '#app',
          data: function() {
            return { visible: false }
          }
    })

  //- div(id="carousel")
  //-   img(src="images/slider/slider-1.png" alt="Image 2")
  //-   img(src="images/slider/slider-1.png" alt="Image 2")
  //-   img(src="images/slider/slider-1.png" alt="Image 2")
  //- script(type='text/javascript', src='https://cdn.staticfile.org/jquery/1.11.2/jquery.min.js')
  //- script.
  
  //-   $(document).ready(function() {
  //-     $("#carousel").waterwheelCarousel({
  //-     flankingItems: 3,
  //-       movingToCenter: function ($item) {
  //-         $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
  //-       },
  //-       movedToCenter: function ($item) {
  //-         $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
  //-       },
  //-       movingFromCenter: function ($item) {
  //-         $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
  //-       },
  //-       movedFromCenter: function ($item) {
  //-         $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
  //-       },
  //-       clickedCenter: function ($item) {
  //-         $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
  //-       }
  //-   });
  //-   });
  //- style(type='text/css').
  //-   #carousel {
  //-   width:100%;
  //-   height: 0;
  //-   bottom:300px;
  //-   position: relative;
  //-   }
  //-   #carousel img {
  //-   display: hidden; /* hide images until carousel prepares them */
  //-   cursor: pointer; /* not needed if you wrap carousel items in links */
  //-   }

