extends layout

block content
  nav.main-nav.dark.js-sub-transparent.stick-fixed(style="margin-top:50px")
    .full-wrapper.relative.clearfix
      .inner-nav.desktop-nav
        ul.clearlist.scroll-nav.local-scroll
          li.active
            a(href='#post-1') 体验项目
          li
            a(href='#post-2') 滑翔基地
          li
            a(href='#post-3') 体验流程
          li
            a(href='#post-4') 滑翔价格
          li
            a(href='#post-5') 注意事项


  section.page-section-title.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-5.jpeg")
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 滑翔伞

  .container.relative
    .row
      .col-sm-8.col-md-offset-1
        .blog-item.mb-80.mb-xs-40
          .blog-item-body
            section.page-section(id="post-1")
              h2 体验项目
              h3 双人伞体验飞行
              p 双人滑翔伞体验飞行是发达国家非常流行的一种休闲体验方式，这种飞行是由专业的滑翔伞教练带领下的双人无动力滑翔飞行。参与人员不需要经过任何的专业培训。只要您身体健康，热爱飞翔，就可以在专业的滑翔伞教练员的带飞下体验。这种休闲飞行方式非常适用于暂时没有心里准备去接受培训的飞伞爱好者，这样既可以体验飞行的乐趣，又可以体验自由自在飞在空中的感觉。
              h3 考证培训
              h4 滑翔伞初级培训
              p 总体要求：在不高于100米的山坡，飞行次数不少于30次，能够根据气象条件独自完成起飞并安全降落。
              p 培训课时：7——10天
              p 训练内容：理论学习、模拟器训练、地面练习、起飞、空中飞行、降落。
              h4 滑翔伞中级培训
              p 总体要求：在完成初级训练的基础上再进行中级训练；留空时间不少于20小时，掌握基本技术和快速下降方法，并能主动飞行；会应付突发状况，并运用各项技能进行动力气流和热气流的飞行。
              p 训练内容：理论知识、起飞、进场和着陆、基本技术、主动飞行训练、快速下降方法、动力气流滑翔、热气流滑翔。
              h4 滑翔伞高级培训
              p 培训内容：越野飞行、竞速比赛、精确着陆、双人伞飞行。

            section.page-section(id="post-2")
              h2 滑翔基地
              h3 河南林州滑翔基地
              h3(style="margin-top:90px") 林虑山国际滑翔基地
              p 林虑山国际滑翔基地位于河南省林州市，起飞场位于石板岩镇东垴村南教场，国家级重点风景名胜区、5A级景区太行大峡谷东侧崖壁之上；降落场及服务中心位于姚村镇迎宾大道西段南侧，紧邻林州市游客服务中心及红旗渠一干渠。自上世纪八十年代末九十年代初被发现以来，被国际航联赞誉为“亚洲第一、世界一流”的飞行场地。
              p 林虑山国际滑翔基地起飞区海拔高度1280m，相对高差850m，顶部开阔平坦，断崖直立如削，受太行山与林州盆地独特的地理位置和地势关系影响，气流迎崖而上，造就了开展滑翔运动的独特优良的天然环境。基地地处温带大陆性季风气候区，除每年2-3月份有可能大雪封路外，其余月份均适于飞行，全年适飞天数超过200天。
              p 经过多年的发展和建设，林虑山国际滑翔基地起飞场、降落场、道路及服务中心等配套设施已逐步完善，并且拥有独立的飞行空域和无线电频率。其中，起飞场地势平坦、空域开阔，有大型山顶生态停车场及停机坪，移动网络全区域覆盖。起飞区面积一万平方米，铺设有国内唯一的面积达一千八百平方米的塑胶，可容纳数十具飞行器同时起飞。
              p 降落场场地平整开阔，便于回收，水电等配套设施齐全。紧邻林州市游客服务中心、红旗渠迎宾馆，地处林州市旅游集聚区，接待设施完善。渠畔路与旅游快速通道分置东西两侧，外部交通通达，可进入性强，集散性能好。
              p 林虑山国际滑翔基地自1992年首次组织滑翔赛事以来，不仅承办过滑翔伞“世界杯”“亚锦赛”的国际航联一类赛事，同时培育了“海峡杯”“林虑山滑翔伞公开赛”“中国滑翔伞俱乐部联赛”等具有影响力的自主品牌赛事。
              p 经过30余次国内外重大赛事组织，90余个国家和地区的飞行员安全试飞，70余万次的安全起降，已成为目前国内配套设施最完善，发展最成熟，飞行条件最好的滑翔运动高级越野飞行场地。
              h3(style="margin-top:90px") 林州滑翔凤凰山训练基地
              p 林州滑翔凤凰山训练基地位于林州市区南4公里的合涧镇小屯村凤凰山，相对高度100米，起飞场地势平坦，坡度适中，无障碍物；降落场面积12000平方米，草坪覆盖，地势平坦开阔，空域无障碍。该场地适合地面控伞、掠地飞行等训练，是林州滑翔的初级训练及滑翔赛事的精准降落（定点）科目的主要场地。
              h3(style="margin-top:90px") 林州滑翔龙凤山训练基地
              p 林州滑翔龙凤山训练基地位于林州市东南隅龙湖西岸，处于东南方向进入林州市区的门户地带。与林州市龙凤山风景区毗连，起飞区下为生态水库，环境优美，条件优越。山体坡度为30°—45°之间的缓坡，常年风向为东风、东南、东北风向，配合地形等有利条件，极其适合滑翔伞的起飞与降落，是一处天然的优良滑翔伞训练场所。
              h3(style="margin-top:90px") 江阴花山滑翔基地
              p 江阴花山滑翔伞基地位于江阴市南闸镇花山南面，江南弥陀村西侧。距离江阴市区5公里处。基地以滑翔伞运动为核心项目，同时还建设有攀岩墙（12米）、射箭场、潜水训练池（4米）、篮球场、足球场、沙滩摩托车、蹦床、烧烤、露营等户外游玩设施。基地拥有两个海拔230米的起飞场，占地面积达8000M2，全部以优质草坪覆盖。主降落场占地面积15000平方米，为飞行员安全着陆提供坚实的保障。
              h3(style="margin-top:90px") 杭州桐洲岛滑翔基地
              p 华东地区首个水、陆、空项目的户外营地，地势平坦开阔，一年可飞天数多。飞行安全系数高，飞行体验感强，外加其独有的自然岛屿资源，是华东地区不可多得的周边游目的地。
              p 桐洲岛：又称“大桐洲”，位于浙江省杭州市富阳区新桐乡境内，总面积4万平方公里，江岸线长约8公里，传说因黄帝时期的药圣“桐君老人”在洲上种草药而得名，是富春江上最古老的江诸之一，也是富春江进入富阳境内遇到的第一个沙岛。
              p 大桐洲，碧水环绕，青山倒映，岛头绿树成荫，沿岸杨柳连绵，洲内保留着原生态的田园风光，是人们回归大自然不可多得的好去处。更值得一提的是，春雨中的大桐洲，烟云升腾，虑无缥缈间显露出一丝绿色，仿佛镶嵌在富春江中的一颗绿宝石。大桐洲也因此有了“烟雨桐洲”之美誉。
            
            section.page-section(id="post-3")
              h2 体验流程
              p 1、办理飞行手续：办理飞行手续时需要出具身份证、护照（外籍）、户口本（孩童）。
              p 2、乘车上山
              p 3、穿着装备：必须服从指挥佩戴护具，包括护肘、护膝、安全坐带、头盔；
              p 4、等待起飞：不可携带妨碍飞行的物品，随身携带的物品请寄存等；
              p
                | 5、飞行：在起飞过程中，必须全力向前跑，直至飞出山体为止；在飞行过程中，必须服从教练指挥，缩减动作幅度，避免不安全因素发生；在飞行过程中，不得擅自解开任何装备（包括坐带、头盔、护具等）
              p 6、降落：降落时体验者必须服从教练指挥，配合教练完成降落

            section.page-section(id="post-4")
              h2 滑翔价格
              h3
                strong 飞行体验费：
                | 680元/人、次
              table(border="1" cellpadding="10")
                tbody
                  tr
                    td(valign='middle')
                      | 滑翔伞培训A/B证
                    td(valign='middle')
                      | 8000元/人
                  tr
                    td(valign='middle')
                      | 滑翔伞培训A+B证
                    td(valign='middle')
                      | 14000元/人
              h3 费用包含
              p 1、降落场至起飞场汽车接送服务；
              p 2、专业教练滑翔伞带飞一次；
              p 3、飞行当天户外运动保险；
              p 4、飞行过程中所需全部的设备、器材、护具等；
              p 5、协助记录全程高清飞行视频；

            section.page-section(id="post-5")
              h2 注意事项
              p 预约时间：提前三日以上时间预约，周末节假日最好提前一周以上时间预约
              p 飞行高度：240米-600米
              p 飞行时间：8-12分钟左右，根据天气情况而定（总活动时间为1.5小时）
              p 适合人群：热爱大自然及户外运动5-60周岁，身体健康，无重大疾病。体重在200斤以下，如稍微超重者必须热爱运动，经常健身者。
              p  
              h3 飞行须知
              p 1.儿童需家长的陪同，请携带儿童的户口本或者身份证号码；
              p 2.患有高血压、心脏病、严重恐高症的游客不得体验飞行；
              p 3.三个月内进行大型手术或有身孕的游客不得体验飞行；
              p 4.体验前饮酒的游客不得体验飞行；
              p 5.禁止体验时穿高跟鞋和拖鞋，必须穿户外鞋或运动休闲运动鞋，长裤；
              p 6.不可携带妨碍飞行的物品，随身携带的物品请寄存等；
              p 7.必须服从指挥佩戴护具，包括护肘、护膝、安全坐带、头盔；
              p 8.在起飞过程中，必须全力向前跑，直至飞出山体为止；
              p 9.在飞行过程中，必须服从教练指挥，缩减动作幅度，避免不安全因素发生；
              p 10.在飞行过程中，不得擅自解开任何装备（包括坐带、头盔、护具等）
              p 11.降落时体验者必须服从教练指挥，配合教练完成降落；
              p 12.体验前必须购买保险，如出现意外，按保险规定执行；
              p 13.飞行视频为赠送服务，我们会尽可能避免录制失败，不接受因录制失败要求重飞或退票。
