extends layout

block content
  nav.main-nav.dark.js-sub-transparent.stick-fixed(style="margin-top:50px")
    .full-wrapper.relative.clearfix
      .inner-nav.desktop-nav
        ul.clearlist.scroll-nav.local-scroll
          li.active
            a(href='#post-1') 自驾飞行
          li
            a(href='#post-2') 空中游览

  section.page-section-title.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-5.jpeg")
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 自驾飞行

  .container.relative
    .row
      .col-sm-8.col-md-offset-1
        .blog-item.mb-80.mb-xs-40
          .blog-item-body
            section.page-section(id="post-1")
              h2 自驾飞行
              h3 固定翼自驾体验课程
              h4 课程安排
              p 开营仪式
              p 正式飞行员实操课程前4课时
              p 实际操作
              p
                | 第1节课
                span.Apple-converted-space   
                | SR20 Checkist检查单程序介绍及飞机启动、地面滑行掌控
              p
                | 第2节课
                span.Apple-converted-space   
                | 飞机的上升、下降和平飞
              p
                | 第3节课
                span.Apple-converted-space   
                | 对仰俯角的掌控,飞机转向学会看姿态仪
              p
                | 第4节课
                span.Apple-converted-space   
                | 飞机的正常起飞及起飞后的速度掌控
              p
                | 飞行
                span.Apple-converted-space   
                | 2小时
              p
                | 自驾飞行
                span.Apple-converted-space   
                | 1小时(可带朋友,体验后座观光)
              p 结业仪式,授予证书
              p  
              h4 机型介绍
              p
                | 中文名称 
                span.Apple-converted-space                 
                | 西锐SR-20
              p
                | 机型级别 
                span.Apple-converted-space                 
                | 活塞飞机
              p
                | 制造商 
                span.Apple-converted-space                   
                | 西锐飞机设计制造公司
              p
                | 发动机类型 
                span.Apple-converted-space               
                | 六气缸水平对置直喷式活塞发动机
              p
                | 发动机制造商 
                span.Apple-converted-space             
                | 特里达因·大陆
              p
                | 座位总数 
                span.Apple-converted-space                 
                | 4座
              p
                | 额定马力 
                span.Apple-converted-space                 
                | 200马力
              p
                | 额定转速 
                span.Apple-converted-space                 
                | 2700RPM
              p
                | 使用燃油 
                span.Apple-converted-space                 
                | 100号 100LL号航空汽油
              p
                | 总燃油容量 
                span.Apple-converted-space               
                | 58.5加仑
              p
                | 最大起飞重量 
                span.Apple-converted-space             
                | 1383千克
              p
                | 最大航程(公里)
                span.Apple-converted-space             
                | 1480
              p
                | 最大巡航速度(Km/小时) 
                span.Apple-converted-space     
                | 259
              p
                | 起飞抬轮速度(Km/小时) 
                span.Apple-converted-space     
                | 122
              p
                | 最大爬升率速度(Km/小时) 
                span.Apple-converted-space   
                | 178
              p
                | 最大巡航高度(米)
                span.Apple-converted-space           
                | 7680
              p
                | 起飞距离(米)
                span.Apple-converted-space               
                | 451
              p
                | 降落距离(米)
                span.Apple-converted-space               
                | 700
              p  
              h4 飞机介绍 
              p 这款飞机采用了特里达因大陆公司制造的200匹马力航空汽油发动机，全机使用复合材料制造。SR20飞机同时配有远景航电设备，这种航电设备实现了小型飞机无纸化电子座舱，飞行员只需依靠飞机驾驶舱内部的两款超清显示屏工作，其中蕴含极为出众的安全性革新，其中包括终极的保护手段——西锐机身降落伞系(CAPS)
              p  
              h4 基地
              p 浙江安吉天子湖基地、北京八达岭基地、浙江舟山普陀山基地、陕西西安内府基地
              p  
              h3 直升机自驾体验课程
              h4 课程安排
              table(border="1")
                tbody
                  tr
                    td(valign='top')
                      p 日期
                    td(valign='top')
                      p 时间
                    td(valign='top')
                      p 内容
                  tr
                    td(rowspan='7', valign='top')
                      p 第二天
                    td(valign='top')
                      p 9：30-10：00
                    td(valign='top')
                      p 开营仪式
                  tr
                    td(valign='top')
                      p 10：00-11：00
                    td(valign='top')
                      p 理论课程：如何成为一名私照飞行员
                  tr
                    td(valign='top')
                      p 11：00-11：30
                    td(valign='top')
                      p Q&A
                  tr
                    td(colspan='2', valign='top')
                      p 午休
                  tr
                    td(valign='top')
                      p 13：00-13：30
                    td(valign='top')
                      p 机库参观及真机讲解
                  tr
                    td(valign='top')
                      p 13：30-14：00
                    td(valign='top')
                      p 第一课时，第二课时科目教学
                  tr
                    td(valign='top')
                      p 14：00-17：00
                    td(valign='top')
                      p 飞行实操训练及茶歇讨论
                  tr
                    td(rowspan='6', valign='top')
                      p 第二天
                    td(valign='top')
                      p 9：30-10：00
                    td(valign='top')
                      p 第三课时科目训练
                  tr
                    td(valign='top')
                      p 10：00-11：30
                    td(valign='top')
                      p 飞行实操训练
                  tr
                    td(valign='top')
                      p  
                    td(valign='top')
                      p 午休
                  tr
                    td(valign='top')
                      p 12：30-13：00
                    td(valign='top')
                      p 第四课时科目训练
                  tr
                    td(valign='top')
                      p 13：00-14：00
                    td(valign='top')
                      p 飞行实操训练
                  tr
                    td(valign='top')
                      p 14：30-15：30
                    td(valign='top')
                      p 证书颁发及闭营仪式
              p 备注（科目内容）
              p Lesson 1 悬停：Cabri G2直升机周期杆、脚舵、总距杆的控制
              p Lesson 2 平直飞行：Cabri G2直升机操作周期杆保持恒定高度
              p Lesson 3 转向控制：Cabri G2直升机上升下降及转向
              p Lesson 4 起落飞行：Cabri G2 直升机起飞前Checklist，起飞和降落
              p
              h4 机型介绍
              p Cabri G2直升机
              p G2直升机主要参数如下:
              p 机身长6.31米，主旋翼直径7.2米，宽度1.24米，高度2.37米，总重700千克，最大升限3963米，可乘坐2人（1名飞行员、1名乘客）
              p
              h4 基地
              p 上海青浦基地
              p
              h4 关于费用
              p 两天自驾体验课程费用
              p 原价：20000元/人 优惠价: 9800元/人
              p 每期8人，满4人即可开班
              p
                | p.s
                span.Apple-converted-space   
                | 此课程可在报考正式飞行私照时，可抵扣9800元学费
              p
              h4 费用包含
              p 1.私人定制飞行装备（长袖衬衫、短袖衬衫、西裤、肩章领带、徽章等）
              p 2.三次真机飞行训练课程，每次训练20分钟，总共飞行时间为1小时
              p 3.每次训练前，资深飞行教员提供15分钟Briefing，对本次飞行内容进行介绍
              p 4.每次训练后，资深飞行教员提供15分钟Debriefing, 对飞行情况进行小结及建议
              p 5.飞行学院颁发的证书，消费自驾体验免认证
              p 6. 地面保险及飞行保险

            section.page-section(id="post-2")
              h2 空中游览
              p
                strong 杭州千岛湖直升机空中游览
              p
                | 千岛湖以山青、水秀、洞奇、石怪、人美而闻名。这里面积广阔，拥有1078座翠岛，湖内远山的倒影仿佛画一样。数千座散落在湖中央的零星岛屿形成千岛之国，细看之下颇有“横看成岭侧成峰，远近高低各不同”的意味。
              p
                | 人们不仅可以泛舟湖上，登上植被覆盖的绿岛与珍奇的鸟类和异兽来个亲密接触，也可以品尝到美味的河鲜鱼汤。而乘坐直升机是游览千岛湖美景超惬意炫酷的方式，换个视角看湖湾幽深多姿，景色绚丽多彩，全程省心尊享低空观光全新的视觉震撼。
              p 从高空俯瞰千岛湖区，这里既有太湖之浩渺，又有西湖之秀丽，湖内水质清澈，山峦苍翠，岛屿奇特。山上的云杉马尾松倒映在水中，半湖墨绿，半湖翠蓝，深深浅浅，层次分明。
              p 千岛湖有千姿百态的岛屿风光，还有新安江大坝、新安江新城等人文景点。我们为您细致规划了观光线路:
              p
                strong 游览线路
                strong 1
                strong （
                strong 3
                strong 人起飞）
                strong  
              p 说明：航线长度15公里，飞行体验时间约10分钟
              p 飞行线路：千岛湖机场→航空小镇汽车公园→寿昌镇→航头镇→千岛湖机场
              p
                strong 游览线路
                strong 2
                strong （
                strong 3
                strong 人起飞）
              p 说明：航线长度40公里，飞行体验时间约20分钟
              p 飞行线路：千岛湖机场→建德市→新安江水电站→帆船酒店→千岛湖机场
              p
                strong 游览线路
                strong 3
                strong （
                strong 3
                strong 人起飞）
                strong  
              p 说明：航线长度77公里，飞行体验时间约30分钟
              p 飞行线路：千岛湖机场→建德市→新安江水电站→千岛湖湖心区→千岛湖机场
              p  
              p
                strong 天津固定翼特技飞行体验
                strong &
                strong 空中游览
                strong (
                strong 二选一
                strong )
              p
                strong 飞行体验
                strong (10
                strong 分钟
                strong )
              p 1. 与机长直接对话，了解飞行知识与技巧;
              p 2. 随心所欲与飞机白云拍照合影;
              p
                | 3. 副驾驶座位可以在机长的帮助下自行操作飞机。
                span.Apple-converted-space  
              p
                | 4. 常规飞行:跑道滑行，起飞，常规上下升降，降 落;
                span.Apple-converted-space  
              p
                | 5. 特技飞行一:可以体验坡度为60度的转弯或盘旋， 过载2G，体验人体在空中的失重感; 6、特技飞行二:低空通场-飞机对正跑道在下降过 程中，在低高度将飞机改平，顺跑道并保持一定高 度平行飞行，跑到头将飞机拉起直线爬升或转弯。
              p  
              p
                strong 空中游览
                strong (10
                strong 分钟
                strong
                  | )
                  span.Apple-converted-space  
              p 游览路线:窦庄子村、光伏发电场、风力发电风车、南大港湿地、大港油田、北大港水库。
              p  
              p
                strong 主打机型
              p
                | 美国 罗宾逊R66直升机 可乘坐4名游客
                span.Apple-converted-space  
              p 市场价:880元/人
              p  
              p
                strong 注意事项
              p
                | 1. 参加飞行活动，需提前预约时间，并向客服人员提供全部必要个人信息。儿童(3周岁以下)不能乘机，儿童(3-12周岁)需由成人陪同乘坐;
                span.Apple-converted-space  
              p
                | 2. 体验者须按约定时间到达窦庄机场，以免影响活动进程。由于航空活动可能受天气、航空管制等不可抗因素影响而导致延迟，我们可为您提供延期、改期服务;
                span.Apple-converted-space  
              p
                | 3. 如患有心脑血管疾病、精神疾病、严重平衡器官功能异常等不适合空中飞 行的疾病,以及受酒精、药物影响的游客，请提前告知工作人员。若不告知，发 生一切后果由乘客本人自行承担;
                span.Apple-converted-space  
              p
                | 4. 活动期间，积极配合地面人员及飞行员的工作，认真学习飞行注意事项及 安全知识，绝不做有碍人身及航空安全的举动。
                span.Apple-converted-space  
              p  
              p
                strong 特别说明
              p
                | 1. 参与飞行活动，儿童与成人同价，单独坐一个座位;
                span.Apple-converted-space  
              p
                | 2. 飞行体验须提前付费预订，如有陪同人员，每位同伴须缴纳120元，即可享受其他增值机场服务(详情见后续);
                span.Apple-converted-space  
              p
                | 3. 我们的执飞机长均为飞行教员，并为每位乘客提供最高保额为200万的座位 保险费(不包含旅游意外险，如有需要请自行购买);
                span.Apple-converted-space  
