extends layout

block content

  section.page-section-title.main-nav-sub.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-5.jpeg" style="padding-top:200px")
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 淘宝商城
  section.page-section
    .container.relative
      .row  
        .col-sm-8
          .row.multi-columns-row
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/01.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='') xxx 跳伞
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/02.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='') xxx 跳伞
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/03.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='') xxx 跳伞
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/04.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='') xxx 跳伞

        .col-sm-4.col-md-3.col-md-offset-1.sidebar
          .widget
            h5.widget-title.font-alt 近期动态
            .widget-body
              ul(id="userList" class="clearlist widget-posts")
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞

  script(src="js/userlist.js")
