extends layout

block content

  section.page-section-title.main-nav-sub.page-section.bg-dark-alfa-50(data-background="images/full-width-images/hero-5.jpeg" style="padding-top:200px")
    .relative.container.align-left
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 淘宝商城
  section.page-section
    .container.relative
      .row  
        .col-sm-8
          .row.multi-columns-row
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/跳伞.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.60.7bdc380d3Mrnks&id=571105764606' style="margin-top:-20px") 高空跳伞
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥2800
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.60.7bdc380d3Mrnks&id=571105764606' style="margin-top:-20px")
                  button.btn-danger 立即购买

            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/高空摄像.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.57.7bdc380d3Mrnks&id=571288681024') 高空摄像
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥2400
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.57.7bdc380d3Mrnks&id=571288681024') 
                  button.btn-danger 立即购买

            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/滑翔伞.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.66.7bdc380d3Mrnks&id=571871243786') 滑翔伞
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥14000
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.66.7bdc380d3Mrnks&id=571871243786') 
                  button.btn-danger 立即购买 

            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/潜水.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.120.713f380dXnuYuU&id=594019895236') 潜水
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥650
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.120.713f380dXnuYuU&id=594019895236')
                  button.btn-danger 立即购买     

            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/狩猎.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.69.7bdc380d3Mrnks&id=577044328265') 狩猎
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥55000
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.69.7bdc380d3Mrnks&id=577044328265') 
                  button.btn-danger 立即购买

            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/自驾飞行.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.72.7bdc380d3Mrnks&id=576811849952') 自驾飞行
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥9800
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.72.7bdc380d3Mrnks&id=576811849952') 
                  button.btn-danger 立即购买                
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/远洋海钓.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.117.713f380dXnuYuU&id=594020707646') 远洋海钓
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥50000
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.117.713f380dXnuYuU&id=594020707646') 
                  button.btn-danger 立即购买                
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/会员注册.png', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.90.7bdc380d8PtLIl&id=592782887864') 会员注册
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥78000
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.90.7bdc380d8PtLIl&id=592782887864') 
                  button.btn-danger 立即购买                
            .col-md-4.col-lg-4.mb-60.mb-xs-40
              .post-prev-img
                img(src='images/project/补充差价.jpg', alt='')
              .post-prev-title.font-alt.align-center
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.93.7bdc380d8PtLIl&id=581579813582') 差价补充
                br
                div(style="height:10px")
                b(style="color:#ff0000" ) ￥1
                br
                a(href='https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-18753653155.93.7bdc380d8PtLIl&id=581579813582')
                  button.btn-danger 立即购买                

        .col-sm-4.col-md-3.col-md-offset-1.sidebar
          .widget
            h5.widget-title.font-alt 近期动态
            .widget-body
              ul(id="userList" class="clearlist widget-posts")
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 刘女士(176****4593)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 刘女士(176****4593)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞                
                li(class="userList-item")
                  a(href='#')
                    | 刘女士(128****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严先生(126****2530)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞                    
                li(class="userList-item")
                  a(href='#')
                    | 严女士(186****4532)预订成功林州滑翔伞                
                li(class="userList-item")
                  a(href='#')
                    | 刘女士(128****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 严先生(126****2530)预订成功林州滑翔伞
                li(class="userList-item")
                  a(href='#')
                    | 张女士(186****4532)预订成功林州滑翔伞






  script(src="js/userlist.js")
