extends layout

block content


  section.page-section-title.page-section.bg-dark-alfa-50(data-background="images/full-width-images/image7.jpeg" style="padding-top:200px")
    .relative.container.align-left(class="page-title-text")
      .row
        h1.hs-line-11.font-alt.mb-20.mb-xs-0 潜水
        h3.hs-line-4.text-white 菲律宾 / 普吉岛 / 仙本那 

  .container.relative
    .row
      .col-sm-3
        section.page-section(style="margin-top:-100px" class="sidebar-widget-coll")
          .widget(class="sidebar-widget")
            .widget-body(style='text-align:center')
              h1(style="color:#f08020") 潜水
              h3 DIVING
          .widget
            .widget-body
              ul.clearlist.widget-menu.scroll-nav.local-scroll
                li(class="sidebar-menu-li")
                  a(href='#post-1' class="sidebar-menu-e" ) 菲律宾OW/AOW
                li(class="sidebar-menu-li")
                  a(href='#post-2' class="sidebar-menu-e" ) 普吉岛OW/AOW 
                li(class="sidebar-menu-li")
                  a(href='#post-3' class="sidebar-menu-e" ) 仙本那OW/AOW
                     
      .col-sm-8
        .blog-item.mb-80.mb-xs-40
          .blog-item-body
            section.page-section(id="post-1" style="margin-top:-120px")
              h2 菲律宾OW/AOW中文潜水课程考证
              p
                | 墨宝是菲律宾十大潜水胜地之一，沙丁 鱼风暴的故乡,隶属Pescador Island海洋公园海底资源丰富，五彩缤纷的珊瑚，闪电贝，飞机残骸，沙丁鱼风暴，杰克风暴，甚至顽皮的鲸鲨也会跑来玩耍。
              h3 OW是什么
              p  Open Water开放水域潜水课程 ，水肺潜水员的入门课程，也是世界上最受欢迎的初级潜水员课程。一旦您完成了PADI开放水域潜水员课程，您将会获得一-张全球通用且终生有效的潜水员证书，使您能在18米深度内自由探索水下世界。
              h3  AOW是什么
              p  Advanced Open Water进阶开放水域潜水课程，需持有OW证书的潜水员才能参加。最深可潜入30米的海底，能学习到沉船、夜潜等进阶潜水课程，接触更多叹为观止的奇妙海洋世界。

              h3 课程安排
              h4 oW 2天
              p  国内:完成OW理论课程线上教学，每周四、日晚上19点教练理论讲解
                
              p  课程开始前一天:提前一天到校报道，办理开课手续，认识教练如未完成国内线上理论课程，下午现场进行理论学习+考 试
                
                
              h5  DAY1
                
              p  早上-16:30泳池平静水域训练，开放水域1潜
                
              h5  DAY2
                
              p  早上-16:30开放水域2、3、4潜,完成OW毕业手续
                
              p  具体课程安排以教练安排为准
              h4 AOW 2天课程
              h5  DAY1+DAY2
                
              p  白天16:30前  开放水域1、2、3、4、5潜
                
              p  完成AOW毕业手续
                
                
              h5  温馨提醒
                
              p  建议提前一天到达学校办理开课手续，学习组装装备。
                
              p  潜点:根据海况，水流，潮汐，具体以教练安排为主。AOW选修课程根据天气海况来定，可选修夜潜。
                
              p  注意多次潜水后至少18小时的禁飞时间。
              table(border="1")
                tbody
                  tr
                    td 课程名称
                    td 1人价格
                    td 2人价格
                    td 4人价格
                  tr
                    td 2天OW
                    td 2600元/人
                    td 2500元/人
                    td 2400元/人
                  tr
                    td 2天AOW
                    td 2300元/人
                    td 2200元/人
                    td 2100元/人
                  tr
                    td 4天OW+AOW
                    td 2800元/人
                    td 4600元/人
                    td 4400元/人
                    p 课程费用说明：
              h3 费用包含
              p OW国内理论:中文纸质教材，国内线上理论费用教学:全程中文教练教学
              p 装备:全套潜水装备，包含浮力调节装置BCD、呼吸器、深潜面镜、潜
              p
                span.Apple-converted-space  
                | 水服、呼吸管、脚蹼、配重带或配重、气瓶，按课程需要配备电脑表和指北针
              p 交通:当地政府环境税，船费
              p 证书: PADI全球通用潜水证书电子版(因提倡环保，201 8年2月26日起，
              p PADI潜水证实体-卡需自行在PADI微信公众号申请邮寄)

              h3 费用不包含
              p 小费、餐饮、住宿及其他个人消费墨宝岛机场/码头往返学校的交通自愿购买个人潜水保险的费用

              h3 其他可选费用：
              table(border="1")
                tbody
                  tr
                    td 课程名称
                    td 价格
                  tr
                    td 高氧
                    td 600元（现场议价）
                  tr
                    td FD单次
                    td 180元/潜（不含装备和电脑表、环境税、船费）
                  tr
                    td FD1天3潜
                    td 550元（不含装备和电脑表、含环境税和船费）
                  tr
                    td FD夜潜
                    td 200元/潜（含一只手电，不含装备和电脑表）
                  tr
                    td 装备租用
                    td 50元/天
                  tr
                    td 电脑表租用
                    td 50元/天
                  tr
                    td 接机服务
                    td 1-2人 2500比索，3-7人3000比索

              h3 预订须知
              p
                | 至少提前3天预订
                span.Apple-converted-space  
              p
                | 如因个人原因无法参加活动（如：生理期、害怕、未预约、无故缺席、弄错时间、迟到等导致无法参加活动，天气状况以门店安排为准），概不退款，敬请谅解，确定了出行时间再预约支付;
                span.Apple-converted-space  
              p
                | 因不可抗拒因素（天气、海洋情况、自然灾害、政治形势、政府法令、航空、铁路及公路出现紧急情况等）所引致的额外费用；协助解决，但不承担相关责任，同时保留对行程进行变更的权利;
                span.Apple-converted-space  
              p  
              p
                | 潜水学习通过率并非100%，如果由于各种原因导致您无法完成整个学习过程，请遵照以下处理办法及流程：
                span.Apple-converted-space  
              p
                | 1.课程预定成功，不退不改，距离开课日期20天以上，更改延期课程，具体情况咨询客服；
                span.Apple-converted-space  
              p
                | 2.对于已经开课的学员，如因个人原因无法参加潜水课程（如：生理期、害怕、未预约、无故缺席、弄错时间、迟到等导致无法参加潜水活动）理论、平静水域或者开放水域未完成，免费保留一年学籍，下次来补考支付500元补考费即可；
              h3 安全提醒
              p 1. 为普及安全旅游知识和文明旅游公约，开心、顺利度过您的假期，请务必认真阅读 《旅游安全手册》，并切实遵守。
              p
                | 2. 高原地区旅游、户外旅游以及部分室内游乐项目（包括但不限于潜水、游泳、漂流、滑冰、滑雪、冲浪、探险、热气球、高山索道等项目），均存在一定风险。平台现从特殊人群须知、旅游活动风险防范两方面制定了《安全防护指南》，请您仔细阅读！参与前请根据自身条件详询商家，并充分参考专业机构的相关公告和建议，量力而行确保安全。同时严格按照项目要求，做足安全防护准备，并请积极关注天气变化，如遇恶劣天气，请严格遵守服务方安排，切勿冒险。
              p 3. 为了更全面地保障您的人身安全，平台强烈建议您出游时投保个人险种。出行过程中，请注意人身和财产安全。租车出游请遵守当地交通规则，谨慎驾驶。
              p 4. 请详细阅读商家于商品详情页面上发布的内容，特别是预订须知、退改规则、安全告知等与您的出行密切相关的条款。若有任何疑问，请及时联系商家确认。
            section.page-section(id="post-2")
              h2 泰国普吉岛OW/AOW 深潜培训
              h3 OW考证4潜
              p
                
                |  3天4潜，非团体价格一对二教学
                
                |  团体价格一对四教学
                
                
              h4  Day 1
                
              p 上午8点前自行到达潜店报到理论课学习
                
                
              p 下午泳池平静水域练习
                
                
              h4  Day 2
                
              p 上午酒店接驳至查龙码头集合大皇帝岛开放水域潜水1次
              p 中午享用美味的泰式自助午餐享受水上皮划艇、独木舟超级大滑梯等水上娱乐活动
              p 下午小皇帝岛潜水1次

              h3 AOW考证2天5潜，一对二教学
                
                
              h4  Day 1
                
              p  上午8点前
                
                |  酒店接驳至查龙码头集合
                
                |  码头出发前往大皇帝岛，船边浮潜船上享用小吃、零食、水果，无限畅饮软饮
                
                |  船.上享用泰式自助午餐
                
                
              p  中午
                
                |  午餐后深潜1次，前往小皇帝岛附近海域，再进行第2次开放水域潜水
                
                
              p  下午
                
                |  稍作休息后，返回查龙码头，送回酒店
                
                
              h4  Day 2
                
              p 上午8点前
                
                |  酒店接驳至查龙码头集合
                
                |  码头出发前往花岛，进行1次深

              h3 费用包含
              p  
                |  1.潜水基础装备费
              p  
                |  2.专业潜水中/英文教练3.潜店至潜点出海船费
              p  
                |  3.出海潜水当天部分酒店免费接送、简单早餐、午餐、下午茶、饮料:
              p  
                |  4. PADI电子教材
              p  
                |  5. AIG公司水下意外险
                
                
              h3 费用不含
              ol
                li 平静水域课程当天餐食、接送
                li 开放水域课程当天偏远地区接送费
                li 住宿费
                li 小费
                li 个人消费及其他未提及费用
              h3 注意事项：
              h4  
                | 1. 购买限制
                
              p 预订前请联系客服获取《PADI官方RSTC健康声明书》电子文件，并详细阅读，如您存在声明书中任一-症状，将不符合参加本课程的健康要求，恕无法预订，敬请谅解预订AOW课程的学员需具有OW以上级别潜水员资格证书，并需要携带至潜店可作证明，如超过6个月未曾潜过水，潜店会根据参与者的个人情况决定是否需要先进行复习潜水Refresher Diving课程，如需额外另付学费，请直接现付当地
              h4 2. 年龄政策:
              p 0-13(含)周岁儿童，恕不接受预订; 14(含)周岁以上人群，请按成人价预订
              h4 3. 免责条款:
              p  
                |  因个人原因迟到或未参加行程，新鑫不予负责且不退款如果由于学生自身条件，如恐水、无法做某个技巧等原因，即使进行无限次平静水域练习，也不能通过泳池课程，导致潜店无法带学员出海进行开放水域潜水，视作退学处理，不予负责且不退款
              p
                | 潜水行程因天气等不可抗力因素导致临时调整，且不做提前通知，一切以潜店安排为准，新鑫不予负责且不退款如因学员个人身体等原因造成无法完成课程，潜店及新鑫不予负责且不退款
              h4 6.温馨提示:
              p 
                |  请准备泳装、毛巾
                |  2次及以上深潜后需保证18小时以上的陆地休息，才可搭乘飞机，请注意合理安排航班

            section.page-section(id="post-3")
              h2 仙本那潜水考证OW+AOW课程
              h3 OW课程 1980元
              p
                | PADI开放水域潜水员课程，是水肺潜水的入门课程,也是世界上最受欢迎的初级潜水员课程。一旦您完成了PADI开放水域潜水员课程，您将会获得一张全球通用且终生有效的潜水员证书，使您能在18米深度内自:由探索水下世界。主
              p 让我们一起进入这个充满惊奇的水底世界吧...
              p 课程内容：
              p 开放水域潜水员课程包括三个部分:理论学习，平静水域技巧练习，开放水域潜水。
              p
                | 理论学习帮助你建立安全潜水该具备的原则和知识。我们将这部分的学习放在国内提前完成，从而节约一天的时间在国外，当然如果您时间充裕，也可以选择在岛学习。理论阶段并不难，每个教练都有自己独特的教学风格，会让你感到轻松、风趣、幽默。平静水域是乐趣的开始，5个单元的水下技巧练习将使你熟练基本的潜水技巧，这些实用技巧都可能会在你今后实际的潜水中被用到。然后就是与教练一起进行4次出海的开放水域潜水，并在开放水域中演示你之前所学到的技巧。
              p 第一天开放水域训练， 你的潜水教练将和你完成2次深度不超过12米的练习。
              p 第二天你就会下降到最大深度18米。这时你才会真正感受到，海底世界带来的惊奇和五彩缤纷。
              p 成功完成课程后，你将获得一张全球认可而且终生有效的PADI开放水域潜水员证书。
              h4 费用包含
              p 1、2晚马步水屋住宿
              p 2、全程中文授课
              p 3、一次平静水域、四次开放水域
              p 4、潜水装备、午餐、税费等
              h4 费用不包含
              p 1、机票、机场接送
              p 2、仙本那码头到马步岛船票
              p 3、马步岛环境保护费
              p 4、水下拍照及摄影费用
              p 5、近视面镜和电脑表租赁费用
              h3 OW 课程（开放水域潜水员）
              p 下潜到30米的水底是什么感觉?水底摄影难度高吗?沉船什么模样到底有多难?在天黑后伸手不见五指的海洋里潜水有多刺激?如何分清海底世界稀奇古怪的海底生物?来参加进阶开放水域潜水员行列吧，你就能找到这些问题的答案。通过进阶开放水域潜水员课程的学习，进一步提高你的潜水技巧，增加潜水经验，学习和了解一些特殊的专长潜水课程，让你找到你自己的兴趣所在，发掘自I己真正喜爱的潜水方式。
              h4 费用说明
              h5 费用包含
              p
                |  1、2晚马步水屋住宿
              p 2.全程中文授课
              p
                | 3、5项探险潜水,
              p 4、潜水装备、午餐、税费等

              h5 费用不包含
              p 1、机票、机场接送
              p 2、仙本那码头到马步岛船票

              p 3.马步岛环境保护费
              p 4.水下拍照及摄影费用
              p 5、近视面镜和电脑表租赁费用
              h4 潜水者健康提示
              p
                | 潜水是一项很安全的运动，但是请您认真阅读以下提示，如果有隐瞒病情，一旦课程开始发现您不能潜水，不能退还课程费用。如有任何问题请咨询当地医生。在深潜之后18小时之内不能乘坐飞机，请亲们安排好时间!深潜结束当天不可以做按摩，第二天就可以了!
              p 曾经接受过中耳手术，或眼角膜手术0有肺部受伤病史，尤其是自发性气胸者
              p 严重的肺部阻塞性疾病，如慢性肺气肿或严重哮喘病者
              p 肺泡有先天性憩室或肺部水泡病者0有癫痫或抽筋病史者
              p 有心脏冠状动脉疾病，如心绞痛或曾有心肌梗塞
              p 有红血球病变，如镰刀型红血球贫血者四胰岛素依赖型糖尿病患者
              p 长期酗酒或药物成瘾者1开刀手术不超过半年者
              p 怀孕者
